/* Palette URL:  http://paletton.com/#uid=72S0B0kmpy3ralWpLt3iZHreGQA
#####  Palette URL: http://paletton.com/#uid=72S0B0kaVz84jP27qHbeJtFiHpX
*/
/* Feel free to copy&paste color codes to your application */

/* As hex codes */

$color-primary-0: #3CC754;
/* Main Primary color */
$color-primary-1: #148628;
$color-primary-2: #23B13B;
$color-primary-3: #59DA6F;
$color-primary-4: #7FEC92;

$color-secondary-1-0: #3981A8;
/* Main Secondary color (1) */
$color-secondary-1-1: #16506F;
$color-secondary-1-2: #236C93;
$color-secondary-1-3: #579FC6;
$color-secondary-1-4: #7FBFE1;

$color-secondary-2-0: #FFAD4D;
/* Main Secondary color (2) */
$color-secondary-2-1: #AF6B1A;
$color-secondary-2-2: #E8922D;
$color-secondary-2-3: #FFBA68;
$color-secondary-2-4: #FFCA8A;

$color-complement-0: #FF5A4D;
/* Main Complement color */
$color-complement-1: #AF251A;
$color-complement-2: #E83B2D;
$color-complement-3: #FF7368;
$color-complement-4: #FF938A;

$mini-backgrounds: (
        $color-primary-0 $color-secondary-1-0 $color-secondary-2-0 $color-complement-0 $color-primary-1 $color-secondary-1-1 $color-secondary-2-1 $color-complement-1 $color-primary-2 $color-secondary-1-2 $color-secondary-2-2 $color-complement-2 $color-primary-3 $color-secondary-1-3 $color-secondary-2-3 $color-complement-3 $color-primary-4 $color-secondary-1-4 $color-secondary-2-4 $color-complement-4
);

//$mini-backgrounds: darksalmon darkolivegreen slategray #8f7f6f #7a6f8f #8f6f8f;

$out-of-bounds-color: #DDD;
$dataset-in-bounds-bg-color: #ffffff;

$tile-border-color: #777;

$tile-background-color: #e5ffd8;
$generating-tile-color: $text-color;
$legend-size: 2em;

$standard-brush-fill: rgba(30, 144, 255, 0.2);
$visualization-brush-fill: rgba(mix($standard-brush-fill, white), 1.0);
$visualization-brush-lane-overlay-fill: $standard-brush-fill;
$visualization-brush-stroke: $gray-light;

event-distribution-overview, event-distribution-detail {

  width: 100%;
  display: flex;

  & svg {
    width: 100%;
    fill: black;

    & * {
      shape-rendering: crispEdges;
    }
  }

  & .chart {
    background-color: #ffffff;
  }

  .laneLines {
    stroke: lightgray;
  }

  .laneLinesGroup {

  }

  .brush .extent {
    stroke: gray;
    fill: dodgerblue;
    fill-opacity: .365;
  }

  @for $i from 1 through length($mini-backgrounds) {
    $item: nth($mini-backgrounds, $i);

    & .miniItem#{$i - 1} {
      fill: $item;
      stroke-width: 6;
      fill-opacity: 1.0;
    }
  }

}

event-distribution-overview {
  & .mini {

  }

  & text {
    font: 10px sans-serif;
  }
}

event-distribution-detail {
  & .main {
    cursor: pointer;
  }

  & text {
    font: 13px sans-serif;
  }

  .outOfBounds {
    fill: $out-of-bounds-color;
  }

  .datasetBounds {
    fill: $dataset-in-bounds-bg-color;
  }

  .visualizationBrushArea {
    fill: $visualization-brush-fill;
  }

  .visualizationBrushLaneOverlay {
    stroke: $visualization-brush-stroke;
    fill: $visualization-brush-lane-overlay-fill;
  }
}

event-distribution-visualisation {
  text-align: center;

  .metaTrack {
  }

  & text {
    font: 13px sans-serif;
  }

  .imageTrack {
    svg {
      width: 100%;
    }

    .tilesBackground {
      fill: $out-of-bounds-color;
    }

    .datasetBounds {
      fill: $dataset-in-bounds-bg-color;
    }

    .tiles {
      cursor: pointer;

      .tile rect {
        stroke: $tile-border-color;
        stroke-width: 1px;

        //border-left: deeppink solid 1px;
        //border-right: blue solid 1px;
        fill: $tile-background-color;
      }

      .tile text {
        font-size: 8pt;
        color: $generating-tile-color;
        font-weight: bold;
        padding: 0 1px;

      }

    }
  }

  dl {

    dt {
      width: $legend-size;
      height: $legend-size;
      display: inline-block;
      vertical-align: middle;

      border: $tile-border-color solid 1px;
    }

    dd {
      display: inline;
      margin-right: 1em;
      vertical-align: middle;

    }

    .outOfBounds {
      background-color: $out-of-bounds-color;
    }

    .noAudioInDataset {
      background-color: $dataset-in-bounds-bg-color;
    }

    .generating {
      background-color: $tile-background-color;
    }
  }

}
