.chart {
  shape-rendering: crispEdges;
}

.mini text {
  font: 9px sans-serif;
}

.main text {
  font: 12px sans-serif;
}

.miniItem0 {
  fill: darksalmon;
  stroke-width: 6;
}

.miniItem1 {
  fill: darkolivegreen;
  fill-opacity: .7;
  stroke-width: 6;
}

.miniItem2 {
  fill: slategray;
  fill-opacity: .7;
  stroke-width: 6;
}

.brush .extent {
  stroke: gray;
  fill: dodgerblue;
  fill-opacity: .365;
}