.visualize-content {
  max-width: 1500px;
  @include center-block;

  & .visualizeContentHeader {

    h2 {
      margin-top: 0;
    }

    small {
      .projectSiteList {
        border-left: $gray-lighter solid 1px;
        border-bottom: $gray-lighter solid 1px;
        border-right: $gray-lighter solid 1px;
        padding: 1px;
        margin-right: 1em;
      }
    }
  }

  .loadingImage {
    $loadGifPath:  image-url('load.gif');
    background: $loadGifPath center center no-repeat;
    width: 100%;
    height: 60px;


  }
}


