<div id="content" class="visualize-content">
    <section ng-if="::errorState" class="row visualizeContentHeader">
        <h2>Audio distribution</h2>

        <div class="text-center">
            <p class="alert alert-danger" role="alert">
                The page is unable to be loaded.
                The error is: {{::errorState}}.
            </p>
        </div>
    </section>
    <div ng-if="!errorState" event-distribution data="recordingData" options="distributionOptions">
        <h2>Audio distribution from {{formatDate(distributionOptions.detailExtent[0])}} to
            {{formatDate(distributionOptions.detailExtent[1])}} (about {{distributionOptions.detailDuration}})</h2>
        <section class="row text-center">
            <small class="col-md-12">
                <span>Current filter: </span>
                <span ng-switch="filterType">
                    <span ng-switch-when="projectId">one project ({{ids[0]}})</span>
                    <span ng-switch-when="siteId">one site ({{ids[0]}})</span>
                    <span ng-switch-when="siteIds">many sites (ids)</span>
                </span> that is showing information from&nbsp;
                <span ng-repeat="p in projects">
                    <span class="projectSiteList">
                        <!--{{ $first && "" || ", "}}-->

                        <a ng-href="{{::p.url}}" target="_self">{{p.name}}</a>
                           &nbsp;&#47;&nbsp;
                        <span ng-repeat="s in p.sites | modelAvailable track by s.id">
                            <a ng-href="{{::s.urlWithProject(p)}}" target="_self">{{s.name}}</a>
                            <span class="legendItem" ng-class="getLegendClass(s)"></span>
                            {{ $last && " " || ", "}}
                        </span>

                    </span>
                     {{ $last && " " || ";"}} &nbsp;
                </span>
            </small>
            <div class="col-md-2 text-right">
                <label class="temporalContextLabel" for="showTemporalContext">Show overview</label>
                <input id="showTemporalContext" class="input-xs" type="checkbox" ng-model="$parent.showOverview"/>
            </div>
        </section>
        <section class="row" ng-if="$parent.showOverview">
            <event-distribution-overview></event-distribution-overview>
            <div ng-if="isLoading" class="loadingImage"></div>
        </section>

        <section class="row">
            <event-distribution-detail></event-distribution-detail>
            <div ng-if="isLoading" class="loadingImage"></div>
        </section>

        <section class="row">
            <h3>Fixed resolution visualisation for {{ distributionOptions.visualizationDuration[0] }} in
                {{ distributionOptions.functions.getCategoryName(distributionOptions.selectedLane) }}</h3>
            <event-distribution-visualisation></event-distribution-visualisation>
        </section>
    </div>

</div>
