
<div class="label-examples-annotations">

    <ng-transclude></ng-transclude>

    <i class="fa fa-arrow-left arrow prev" aria-hidden="true" ng-click="changeCurExample(key, -1)"  ng-if="annotations.length>1"></i>
    <i class="fa fa-arrow-right arrow next" aria-hidden="true" ng-click="changeCurExample(key, 1)" ng-if="annotations.length>1"></i>

    <div class="citizen-science-thumb-example">
        <div class="img"
             ng-if="$ctrl.label.examples[currentExample].image"
             style="background-image: url(/public/citizen_science/labels/images/{{$ctrl.label.examples[currentExample].image}})"
             >&nbsp;
        </div>
        <annotation-item annotation="$ctrl.label.examples[currentExample].annotation" class="dark"></annotation-item>
            </div>

</div>
