<div class="citizen-science-thumb-label" ng-class="{selected : selected()}">

    <!-- stuff to show thumb image -->
    <div class="citizen-science-thumb" ng-click="toggleSelected()">
        <img ng-src="{{$ctrl.label.examples[0].annotation.media.available.image.png.url}}" alt="{{$ctrl.label.name}}">
    </div>

    <citizen-science-label-examples
            center-in-window
            label="$ctrl.label"
            ng-if="selected()"
            samples="$ctrl.samples"
            currentSampleNum="$ctrl.currentSampleNum"
            csProject="$ctrl.csProject"
    ></citizen-science-label-examples>

</div>