
<div class="thumb-labels-container">

    <citizen-science-label
            ng-repeat="(key,label) in $ctrl.labels"
            class="label-thumbs"
            ng-if="label.examples.length"
            tags="label.tags"
            name="label.name"
            label-num="key"
            show-info="label.showInfo"
            on-toggle-show-info="$ctrl.hideAllLabelInfos"></citizen-science-label>


    <citizen-science-label-examples
            examples="$ctrl.labels[selectedLabel].examples" ng-if="selectedLabel > -1" ></citizen-science-label-examples>

</div>