@import '_base';

// http://getbootstrap.com/components/#navbar-fixed-top
body {
  padding-top: $header-padding;
}

//taken from: https://github.com/QutBioacoustics/baw-server/blob/develop/app/assets/stylesheets/common.scss#L86
footer {
  text-align: center;
  padding: $padding-large-vertical $padding-large-horizontal;
  margin-top: $footer-padding;
  border-top: 1px solid $legend-border-color;
  background-color: $panel-footer-bg;

  // sticky footer
  bottom: 0;
  width: 100%;

  // the nav layout was achieved using grid classes
  .nav {
  }
}




@if $DEBUG {
  .debug-ui {
    width: auto;
  }
}
@else {
  .debug-ui {
    display: none;
  }
}




/* General Classes
-----------------------------------------------------------------------------*/
.short-guid {
  width: 70px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}

.select2-container {
  min-width: 150px;
  width: 100%;
}

.rounded-corners {
  border-style: $border-style;
  border-width: $border-width;
  @include rounded-corners($standard-border-radius);
}

.clear-pseudo {
  &:after {
    display: block;
    clear:  both;
    content: " ";
    height: 0;
    overflow: hidden;
  }
}

.clear {
  overflow: hidden;
}

.standard-transition{
  @include transition();
}

.ui-show {
  //@extend .standard-transition;

}
.ui-hide {
  opacity: 0;
  //@extend .standard-transition;
  display: none;

}

.large-image {
  max-height: 300px;
  max-width: 300px;
}
