.dark-background {
  color: white;
  background: rgba(0,0,0,0.9);

  form {
    color: #0a0a0a;
  }

  a {
    color: #64a0d4;
  }

}

.about-content-container {
  padding: 20px;



  .img {
    float: left;
    margin: 0px 20px 10px 0px;
    img {
      width: 200px;
      border: 1px solid #ffffff;
    }

    &.right {
      float: right;
      margin: 10px 0px 10px 20px;
    }

    &.full {
      float: none;
      margin: 10px 0px 10px 0px;
      img {
        width: 100%;
        max-height: 250px;
        object-fit: cover;
      }
    }

  }

  .get-started {
    clear: both;
    display: block;
    float: right;
    margin-left: 20px;

    i {
      font-size: 2em;
      vertical-align: middle;
       margin-left: 0.25em;
    }

    &:last-child {
      float: none;
      max-width: 300px;
      margin-left: auto;
      margin-right: auto;

    }

  }

  .about-content {

    section {

      margin-bottom: 25px;

      hr {
        opacity: 0.3;
      }

    }

    h2 {
      margin: 10px 20px 20px 10px;
    }

    iframe {
      width: 100%;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    .quote {

      i {
        font-size: 1.5em;
        display: inline-block;
        vertical-align: top;
        margin-left: 10px;
        color: #aaaaaa;
      }

      i:first-child {
        vertical-align: bottom;
        margin-right: 10px;
        margin-left: 0px;
      }


    }

    .quote_source {

      &:before {
        content: " - ";
      }

      margin-left: 20px;

    }


  }

}


.citizen-science {

  max-width: 100%;

  z-index: 10;

  .cs-progress {

    display: table;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    margin-top: 20px;

    .progressCell {

      display: inline-block;

    }

  }

  .audio-outer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-align: center;

    .audio-inner {
      display: inline-block;
      max-width: 100%;
      box-shadow: 0px 0px 0px 10px rgba(0, 0, 0, 0.6);
      background-color: rgba(0, 0, 0, 0.9);
    }

    .sample-info {
      color: #FFFFFF;
      opacity: 0.7;
      font-size: 0.8em;
      padding-bottom: 3px;
      padding-top: 2px;
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: space-between;

      div {
        font-size: 1em;
        line-height: 1em;
      }

      span {
        margin: 2px 1em 2px 0.5em;
      }

    }
  }

  .spectrogram-wrapper {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    position: relative;

    display: inline-block;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.7);
    max-width: 100%;

    .spectrogram {
      display: block;
      max-width: 100%;
    }

  }

  audio {
    display:none;
  }

  .citsci-debug {

    position: absolute;
    opacity: 0.3;
    display: none;

  }

  h2 {
    font-weight: 100;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px 10px 0px 10px;
    box-shadow: 0 20px 20px 0px rgba(0, 0, 0, 0.5);
    margin-top: -20px;
    margin-bottom: 10px;
    text-shadow: 0px 0px 10px #000;
  }

  toggle-switch {

    .toggle-switch-wrapper[mode='push-toggle'] {

      height: 35px;

      .toggle-switch-status {
        font-size: 22px;
      }

      .toggle-switch-on.active, .toggle-switch-off.active {
        font-size: 22px;
      }

    }

  }

}

