.dark-background {
  color: white;
  background: rgba(0,0,0,0.9);

  form {
    color: #0a0a0a;
  }


}

.about-content {
  padding: 20px;
}


.citizen-science {

  max-width: 100%;

  z-index: 10;

  .cs-progress {

    display: table;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    margin-top: 20px;

    .progressCell {

      display: inline-block;

    }

  }

  .audio-outer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-align: center;

    .audio-inner {
      display: inline-block;
      max-width: 100%;
      box-shadow: 0px 0px 0px 10px rgba(0, 0, 0, 0.4);
      background-color: rgba(0, 0, 0, 0.9);
    }
  }

  .spectrogram-wrapper {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    position: relative;

    display: inline-block;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    max-width: 100%;

    .spectrogram {
      display: block;
      max-width: 100%;
    }

  }

  audio {
    display:none;
  }

  .citsci-debug {

    position: absolute;
    opacity: 0.3;
    display: none;

  }

  h2 {
    font-weight: 100;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px 10px 0px 10px;
    box-shadow: 0 20px 20px 0px rgba(0, 0, 0, 0.5);
    margin-top: -20px;
    margin-bottom: 10px;
    text-shadow: 0px 0px 10px #000;
  }

  toggle-switch {

    .toggle-switch-wrapper[mode='push-toggle'] {

      height: 35px;

      .toggle-switch-status {
        font-size: 22px;
      }

      .toggle-switch-on.active, .toggle-switch-off.active {
        font-size: 22px;
      }

    }

  }

}

