

.background {
  overflow: hidden;
  z-index: -20;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: center top no-repeat;
  background-size: cover;



  &.preloading {
    transition: none;
    -moz-transition: none;
    -webkit-transition: none;
    opacity: 0;
  }

  &.fadeIn, &.done {
    opacity: 1;
    transition: opacity .9s ease-in-out;
    -moz-transition: opacity .9s ease-in-out;
    -webkit-transition: opacity .9s ease-in-out;
  }


}