<div class="citizen-science-thumb-label" ng-class="{active : isShowingDetails()}">

    <!-- stuff to show thumb image -->
    <div class="citizen-science-thumb" ng-click="toggleShowDetails()">

        <i class="fa {{state}} thumb-tick"
           ng-if="state !== 'empty' && state !== 'no'"
           aria-hidden="true"></i>


        <img ng-src="{{$ctrl.label.examples[0].annotation.media.available.image.png.url}}" alt="{{$ctrl.label.name}}">
    </div>

    <citizen-science-label-examples
            center-in-window
            label="$ctrl.label"
            ng-if="isShowingDetails()"
    >

        <label-check
                on-toggle-selected="$ctrl.onToggleSelected"
                state="currentState()"
                text="$ctrl.label.name"
        ></label-check>

    </citizen-science-label-examples>

</div>