<layout content-for="action-items">
    <li>
        <a href="{{ jobsList.newAnalysisJobRoute }}">
            <span class="fa fa-plus"></span>
            New analysis job
        </a>
    </li>
</layout>
<div id="content" class="analysis-jobs-list">
    <h1>Analysis Jobs</h1>
    <p>
        Analysis jobs can be used to analyze subsets of audio data.
    </p>
    <p>
        This is a list of analysis jobs you have access to.
    </p>
    <p>
        Analysis jobs take time to complete.
        You can monitor an analysis jobs's progress or see its results by clicking on it below.
    </p>
    <p>

    </p>


    <div class="panel panel-default" ng-repeat="analysisJob in jobsList.analysisJobs">
        <div class="panel-heading">
            <a href="{{ analysisJob.viewUrl }}">
                <h3 class="list-group-item-heading">
                    {{ analysisJob.name }}
                    <span class="label pull-right"
                          ng-class="'label-' + jobsList.getOverallStatusType(analysisJob.overallStatus)">
                        <i ng-if="analysisJob.isActive"
                           class="fa fa-spinner fa-spin"></i>
                        {{ analysisJob.overallStatus }}
                    </span>
                </h3>
            </a>

        </div>
        <div class="panel-body">
            <div class="list-group-item-text">
                <div class="stats row">

                    <div class="col-md-12">
                        Audio included in this job:
                        <span class="">
                            <span class="fa fa-file-audio-o"></span>
                            recordings
                            <span class="badge">{{ analysisJob.overallCount }}</span>
                        </span>,
                        <span class="">
                            <span class="fa fa-file-audio-o"></span>
                            size
                            <span class="badge">{{ analysisJob.friendlySize }}</span>
                        </span>,
                        <span class="">
                            <span class="fa fa-clock-o"></span>
                            duration
                            <span class="badge">{{ analysisJob.friendlyDuration }}</span>
                        </span>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h4>
                            Progress
                            <small>
                                (last updated {{ analysisJob.friendlyUpdated }})
                            </small>
                        </h4>
                        <uib-progress
                                ng-class="{
                                'progress-striped': analysisJob.isActive,
                                active: analysisJob.isActive
                            }"
                                max="analysisJob.overallCount">
                            <uib-bar
                                    ng-repeat="(key, bar) in analysisJob.overallProgress track by $index"
                                    ng-if="jobsList.isProgressKeyVisible(key)"
                                    value="bar"
                                    type="{{ jobsList.getType(key) }}"
                                    tooltip-placement="auto bottom"
                                    uib-tooltip="{{ key }}"

                                    tooltip-enable="bar != 0">
                                <span ng-hide="bar / analysisJob.overallCount < 0.05">{{bar}}%</span>
                            </uib-bar>
                            <uib-bar ng-if="analysisJob.isNew || analysisJob.isPreparing">
                                <span>{{ analysisJob.overallStatus }}</span>
                            </uib-bar>
                        </uib-progress>

                    </div>
                </div>
                <!--<div class="actions">

                    <ul class="media-list">
                        <user-tile mode="created" resource="analysisJob">
                            <p>Created by</p>
                        </user-tile>

                        <user-tile mode="modified" resource="analysisJob">
                            <p>Modified by</p>
                        </user-tile>
                        <a ng-href="{{}}" class="btn btn-primary btn-small">
                            <span class="glyphicon glyphicon-info-sign"></span> Details
                        </a>
                    </ul>
                </div>-->
            </div>
        </div>
    </div>


</div>
