<layout content-for="action-items">
    <li>
        <a target="_parent" href="{{ jobsList.newAnalysisJobRoute }}">
            <span class="fa fa-plus"></span>
            New analysis job
        </a>
        <ribbon type="new"></ribbon>
    </li>
</layout>
<div id="content" class="analysis-jobs-list">
    <h1>Audio Analysis</h1>
    <p>
        Audio analysis jobs can be used to analyze subsets of audio data.
    </p>
    <p>
        This is a list of analysis jobs you have access to.
    </p>
    <p>
        Analysis jobs take time to complete.
        You can monitor an analysis jobs's progress or see its results by clicking on it below.
    </p>
    <p>

    </p>

    <div class="panel panel-default" ng-if="jobsList.analysisJobs && jobsList.analysisJobs.length === 0">
        <p class="text-muted text-center">
            <small>
                <em>
                    No existing analysis jobs are available to you - try creating a new one.
                </em>
            </small>
        </p>
    </div>
    <div class="panel panel-default" ng-repeat="analysisJob in jobsList.analysisJobs">
        <div class="panel-heading">
            <a target="_parent" href="{{ analysisJob.viewUrl }}" class="list-item-header-a">
                <h4 >
                    {{ analysisJob.name }}
                </h4>
                <div class="text-right">
                    <span class="label"
                          ng-class="'label-' + jobsList.getOverallStatusType(analysisJob.overallStatus)">
                            <i ng-if="analysisJob.isActive"
                               class="fa fa-spinner fa-spin"></i>
                            {{ analysisJob.overallStatus }}
                    </span>
                </div>
            </a>

        </div>
        <div class="panel-body">
            <div class="list-group-item-text">
                <div class="stats row">

                    <div class="col-md-12">
                        <span>Audio included: </span>
                        <span class="">
                            <span class="fa fa-file-audio-o"></span>
                            recordings
                            <span class="badge">{{ analysisJob.overallCount }}</span>
                        </span>,
                        <span class="">
                            <span class="fa fa-file-audio-o"></span>
                            size
                            <span class="badge">{{ analysisJob.friendlySize }}</span>
                        </span>,
                        <span class="">
                            <span class="fa fa-clock-o"></span>
                            duration
                            <span class="badge">{{ analysisJob.friendlyDuration }}</span>
                        </span>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h5>
                            Progress
                            <small>
                                (last updated {{ analysisJob.friendlyUpdated }})
                            </small>
                        </h5>
                        <uib-progress
                                ng-class="{
                                'progress-striped': analysisJob.isActive,
                                active: analysisJob.isActive
                            }"
                                max="analysisJob.overallCount">
                            <uib-bar
                                    ng-repeat="(key, bar) in analysisJob.overallProgress track by $index"
                                    ng-if="jobsList.isProgressKeyVisible(key)"
                                    value="bar"
                                    style="background-color:{{ jobsList.getColor(key)}}"
                                    tooltip-placement="auto bottom"
                                    uib-tooltip="{{ analysisJob.friendlyProgressString(key) }}"

                                    tooltip-enable="bar != 0">
                                <span ng-hide="bar / analysisJob.overallCount < 0.05">
                                    {{bar | percentage:0:analysisJob.overallCount }}
                                </span>
                            </uib-bar>
                            <uib-bar ng-if="analysisJob.isNew || analysisJob.isPreparing">
                                <span>{{ analysisJob.overallStatus }}</span>
                            </uib-bar>
                        </uib-progress>

                    </div>
                </div>
                <!--<div class="actions">

                    <ul class="media-list">
                        <user-tile mode="created" resource="analysisJob">
                            <p>Created by</p>
                        </user-tile>

                        <user-tile mode="modified" resource="analysisJob">
                            <p>Modified by</p>
                        </user-tile>
                        <a ng-href="{{}}" class="btn btn-primary btn-small">
                            <span class="glyphicon glyphicon-info-sign"></span> Details
                        </a>
                    </ul>
                </div>-->
            </div>
        </div>
    </div>


</div>
