<layout content-for="action-items">

</layout>
<div id="content" class="analysis-job-new">
    <div class="row">
        <h1>New Analysis Job</h1>
        <p>
            Analysis jobs can be used to analyze subsets of audio data.
            Use this page to select the data to analyze, choose the analysis to run,
            configure the settings for the analysis, and submit it for execution.
        </p>
        <p>
            Analysis jobs take time to complete. After you create an analysis job
            you can monitor its progress from its details page.
        </p>
    </div>
    <form class="form-horizontal"
          accept-charset="UTF-8"
          name="newAnalysisJobForm"
          ng-submit="jobNew.submitAnalysisJob(newAnalysisJobForm)"
          novalidate>
        <div class="row">
            <h2>1. Select data</h2>
            <p>What audio data do you want to analyze?</p>
            <p ng-hide="jobNew.isCreatingNewSavedSearch">
                <strong>Choose a saved search</strong>
            </p>
            <p ng-show="jobNew.isCreatingNewSavedSearch">
                <strong>Creating a saved search...</strong>
            </p>
            <div ng-hide="jobNew.isCreatingNewSavedSearch">
                <list-saved-searches selected="jobNew.selectedSavedSearch"></list-saved-searches>
            </div>
            <br/>
            <p ng-hide="jobNew.isCreatingNewSavedSearch">
                Or create a
                <button type="button"
                        class="btn btn-default"
                        ng-click="jobNew.isCreatingNewSavedSearch = true">
                    <span class="fa fa-plus"></span>
                    New saved search
                </button>
            </p>
            <div ng-if="jobNew.isCreatingNewSavedSearch">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>New saved search</h4>
                    </div>
                    <div class="panel-body">
                        <new-saved-search model="jobNew.selectedSavedSearch"></new-saved-search>
                    </div>
                </div>
                <p>
                    Or
                    <button type="button"
                            class="btn btn-default btn-xs"
                            ng-click="jobNew.isCreatingNewSavedSearch = false">
                        cancel
                    </button>
                    creating a saved search.
                </p>
            </div>
            <div class="form-group">
                <input type="hidden"
                       class="form-control"
                       ng-model="jobNew.selectedSavedSearch"
                       ng-required="true"

                       name="selectedSavedSearch">
                <ng-messages for="newAnalysisJobForm.selectedSavedSearch.$error" class="help-block" role="alert"
                             ng-if="newAnalysisJobForm.$submitted || newAnalysisJobForm.selectedSavedSearch.$dirty">
                    <ng-message when="required">A saved search needs to be selected.</ng-message>
                </ng-messages>
            </div>
        </div>
        <div class="row">
            <h2>2. Select analysis type</h2>

            <table class="table table-hover col-md-12">
                <caption>
                    Available analysis types
                </caption>
                <thead>
                <tr>
                    <th class="col-md-1">
                    </th>
                    <th class="col-md-3">
                        Name
                    </th>
                    <th class="col-md-1">
                        Version
                    </th>
                    <th class="col-md-4">
                        Description
                    </th>
                    <th class="col-md-3">
                        Created by
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="script in jobNew.scripts"
                    ng-class="{active: jobNew.analysisJob.scriptId === script.id }"
                    ng-click="jobNew.scriptSelect(script.id)">
                    <td>
                        <label>

                            <input type="radio" name="analysisType"
                                   ng-value="script.id"
                                   ng-model="jobNew.analysisJob.scriptId">
                        </label>
                    </td>
                    <td>
                        {{ script.name }}
                    </td>
                    <td>
                        {{ script.version }}
                    </td>
                    <td>
                        {{ script.description }}
                    </td>
                    <td>
                        <user-tile mode="created" resource="script" skinny></user-tile>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="form-group">
                <input type="hidden"
                       class="form-control"
                       ng-model="jobNew.analysisJob.scriptId"
                       ng-required="true"

                       name="analysisScriptId">
                <ng-messages for="newAnalysisJobForm.analysisScriptId.$error" class="help-block" role="alert"
                             ng-if="newAnalysisJobForm.$submitted || newAnalysisJobForm.analysisScriptId.$dirty">
                    <ng-message when="required">An analysis needs to be selected.</ng-message>
                </ng-messages>
            </div>
        </div>
        <div class="row">
            <h2>3. Customise analysis</h2>

            <p>
                Customise the settings for the analysis below. Don't change them if you're happy with the defaults.
            </p>

            <div class="form-group">
                <div class="col-md-12 ">
                    <div class="custom-settings-panel"
                         ui-ace="jobNew.aceConfig"
                         ng-model="jobNew.analysisJob.customSettings"
                         ng-disabled="!jobNew.analysisJob.scriptId">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <h2>4. Name and description</h2>

            <p>
                Give this analysis job a meaningful name and a useful description.
            </p>

            <fieldset>
                <div class="form-group">
                    <label class="string required col-md-3 control-label" for="analysisJobName">
                        <small>(required)</small>
                        Name
                    </label>
                    <div class="col-md-9">
                        <p>
                            <input name="analysisJobName"
                                   class="form-control"
                                   type="text"
                                   ng-required="true"
                                   ng-minlength="3"
                                   not-in-list="jobNew.analysisJob.validations.name.taken"
                                   ng-model="jobNew.analysisJob.name">
                        </p>
                        <div class="text-right">
                            <button type="button"
                                    class="btn btn-default btn-xs"
                                    ng-click="jobNew.analysisJob.name = jobNew.analysisJob.generateSuggestedName()">
                                <i class="fa fa-question-circle text-info"></i>
                                Use a suggested name
                            </button>
                        </div>
                        <ng-messages for="newAnalysisJobForm.analysisJobName.$error" class="help-block" role="alert"
                                     ng-if="newAnalysisJobForm.$submitted || newAnalysisJobForm.analysisJobName.$dirty">
                            <ng-message when="required">A name is required for this job.</ng-message>
                            <ng-message when="minlength">The name entered is too short (3 character minimum)</ng-message>
                            <ng-message when="notInList">The name must be unique and can't be any of:
                                <ul ng-repeat="name in jobNew.analysisJob.validations.name.taken">
                                    <li>{{ name }}</li>
                                </ul>
                            </ng-message>
                        </ng-messages>
                    </div>
                </div>
                <div class="form-group">
                    <label class="text optional col-md-3 control-label" for="analysisJobDescription">Description</label>
                    <div class="col-md-9">
                        <textarea name="analysisJobDescription"
                                  rows="3"
                                  class="text optional form-control"
                                  ng-model="jobNew.analysisJob.description">
                        </textarea>
                    </div>
                </div>

            </fieldset>
        </div>
        <div class="row">
            <h2>5. Confirm</h2>
            <p>
                Double check the settings chosen above. Once the analysis job has started:
            </p>
            <ul>
                <li>The job cannot be stopped</li>
                <li>The settings cannot be changed</li>
                <li>The results cannot be removed</li>
            </ul>


            <ng-messages for="newAnalysisJobForm" class="help-block summary-errors" role="alert" multiple
                         ng-if="newAnalysisJobForm.$submitted">
                <ng-message when="$invalid">
                    <i class="fa fa-exclamation-triangle"></i>
                    There are errors on the page. Please fix them to continue.
                </ng-message>

            </ng-messages>

            <div class="col-md-offset-8 col-md-4 text-right">
                <a ng-href="{{ jobNew.jobListPath }}" class="btn btn-default">Cancel</a>
                <input type="submit" name="submit" value="Submit" class="btn btn-default btn-primary"
                        ng-disabled="newAnalysisJobForm.submitting">
            </div>

        </div>
    </form>
    <br/>
</div>
