<layout content-for="action-items">

</layout>
<div id="content" class="analysis-job-new">
    <h1>New Analysis Job</h1>
    <p>
        Boring explanation
    </p>

    <form class="form-horizontal"
          accept-charset="UTF-8"
          name="newAnalysisJobForm"
          ng-submit="jobNew.submitAnalysisJob()"
          novalidate>
        <div class="row">
            <h2>1. Select data</h2>
        </div>
        <div class="row">
            <h2>2. Select analysis types</h2>

            <table class="table table-hover">
                <caption>
                    Available analysis type
                </caption>
                <thead>
                <tr>
                    <th class="col-md-1">
                    </th>
                    <th class="col-md-3">
                        Name
                    </th>
                    <th class="col-md-1">
                        Version
                    </th>
                    <th class="col-md-4">
                        Description
                    </th>
                    <th class="col-md-3">
                        Created by
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="script in jobNew.scripts"
                    ng-class="{active: jobNew.analysisJob.scriptId === script.id }"
                    ng-click="jobNew.scriptSelect(script.id)">
                    <td>
                        <label>

                            <input type="radio" name="analysisType"
                                   ng-value="script.id"
                                   ng-model="jobNew.analysisJob.scriptId">
                        </label>
                    </td>
                    <td>
                        {{ script.name }}
                    </td>
                    <td>
                        {{ script.version }}
                    </td>
                    <td>
                        {{ script.description }}
                    </td>
                    <td>
                        <user-tile mode="created" resource="script"></user-tile>
                    </td>
                </tr>
                </tbody>
            </table>
            <p>
                <input type="hidden" ng-model="jobNew.analysisJob.scriptId" ng-required="true">
            </p>
        </div>
        <div class="row">
            <h2>3. Customise analysis</h2>

            <p>
                Customise the settings for the analysis below. Don't change them if you're happy with the defaults.
            </p>

            <div class="form-group">
                <div class="col-md-12 ">
                    <div class="custom-settings-panel"
                         ui-ace="jobNew.aceConfig"
                         ng-model="jobNew.analysisJob.customSettings"
                         ng-disabled="!jobNew.analysisJob.scriptId">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <h2>4. Name and description</h2>

            <p>
                Give this analysis job a meaningful name and a useful description.
            </p>

            <div class="form-group">
                <label class="string required col-md-3 control-label" for="analysisJobName">
                    <small>(required)</small>
                    Name
                </label>
                <div class="col-md-9">
                    <input name="analysisJobName"
                           class="required form-control"
                           type="text"
                           ng-required="true"
                           ng-minlength="3"
                           ng-model-options="{updateOn: 'blur'}"
                           ng-model="jobNew.analysisJob.name">
                </div>
            </div>
            <div class="form-group">
                <label class="text optional col-md-3 control-label" for="analysisJobDescription">Description</label>
                <div class="col-md-9">
                        <textarea name="analysisJobDescription"
                                  rows="3"
                                  class="text optional form-control"
                                  ng-model="jobNew.analysisJob.description">
                        </textarea>
                </div>
            </div>
            <ng-messages></ng-messages>

            </fieldset>
        </div>
        <div class="row">
            <h2>5. Confirm</h2>
            <p>
                Double check the settings chosen above. Once the analysis job has started:
            </p>
            <ul>
                <li>The job cannot be stopped</li>
                <li>The settings cannot be changed</li>
                <li>The results cannot be removed</li>
            </ul>

            <div class="form-group">
                <div class="col-md-offset-8 col-md-4 text-right">
                    <input type="reset" name="cancel" value="Cancel" class="btn btn-default">
                    <input type="submit" name="submit" value="Submit" class="btn btn-default btn-primary">
                </div>
            </div>
        </div>
    </form>
    <br/>
</div>
