#chunkInfo>span:nth-child(2) {
  text-align: right;

  input[type="range"] {
    width: 300px;
  }

  &>span {
    width: 40px;
    display: inline-block;
  }
}


.position {
  & span {
    margin-left: 10px;
    margin-right: 10px;
  }
}

#listenEditContainer {

  > div {
    clear: both;
    width: 100%;
    margin-top: 10px;
  }

  & .tags-fs {
    width: 55%;
    float: left;
  }

  & .bounds-fs {
    width: 40%;
    float: right;
    & input {
      width: 100px;
    }
    & label {
      width: 220px;
    }
  }

  & .reference {
      margin:10px 10px 0px 10px;
  }


}

#listenEditContainer.disabled {

    & * {
        color: rgba(0,0,0,0.2);
       
    } 

}


#chunkTimeStamps {
  width: 100%;
  text-align: center;
  position:relative;

  & .position {
    display: inline-block;
    float: left;
  }

  & .left {
    position:absolute;
    left: 0px;
    top: 0px;
  }

  & .right {
    position:absolute;
    right: 0px;
    top: 0px; 
  }

  & .btn-toolbar {
    margin-left:38%;
  }
}

#mainAudioElement {
    display: none;
}

#timeline {
  line-height: normal;
  font-size: smaller;

  & * {
    border: solid black 1px;

  }

  & div {
    clear: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  > div {
    width: 100%;

    > div {
      width: 100%;

      > div {
        width: 33%;

        > div {
          width: 32%;

          > div {
            width: 32%;
          }
        }
      }
    }
  }

  #audioRecording {
    display: block;

    & div:nth-child(1) {
      width: 44%;
    }
    & div:nth-child(2) {
      width: 11%;
    }
    & div:nth-child(3) {
      width: 44%;
    }
  }




}




.details-table {
  @extend .table;
  @extend .table-striped;
  @extend .table-bordered;

  tbody {

  }
}

.decipher-tags-taglist .icon-remove {
  @extend .glyphicon;

  &:before {
    @extend .glyphicon-remove:before;
  }
}


