#listenEditContainer {

  > div {
    clear: both;
    width: 100%;
  }
}

#chunkTimeStamps {
  width: 100%;
  text-align: center;

  & .position {
    display: inline-block;
  }

  & .left {
    float: left;
  }

  & .right {
    float: right;
  }

}

#mainAudioElement {
    display: none;
}

#timeline {

  & * {
    border: solid black 1px;

  }

  div {
    clear: both;
  }

  > div:nth-child(1) {
    float: left;
    clear: none;

    div {
      height: 25%;
    }
  }

  > div:nth-child(2) {
    overflow: hidden;
    clear: none;

    div {
      text-align: center;
      span {
        display: inline-block;
        width: 33.1%;

        margin:0;

      }
    }
  }


}