#listenEditContainer {

}

#listenEditColumn {
  width:   250px;
  display: inline-block;
}

#listenTableColumn {
  display:        inline-block;
  vertical-align: top;
}

#chunkTimeStamps {
  width: 100%;
  text-align: center;

  & .position {
    display: inline-block;
  }

  & .left {
    float: left;
  }

  & .right {
    float: right;
  }

}