.time {
  background-color: #f5f5f5;
  font-size: $font-size-small;
  font-family: $font-family-monospace;
}

.noPermissions {
  @extend .alert;
  @extend .alert-warning;

  margin-bottom: 0;
  padding: 5px;
}

#chunkInfo {

  // reset h1 style for page
  font-size: 1.5em;
  font-weight: 500;
  line-height: 1.0;
  margin-top: -10px;
  margin-bottom: 10px;


}

#recordingDetails {
  &>p>span {
    white-space: nowrap;
  }
}

#navigator  {


  & input[type="range"] {
    width: 300px;
    height: 1em;
  }

}

.hide-thumb {

  &::-ms-thumb {
    opacity: 0;
  }
  &::-moz-range-thumb {
    opacity: 0;
  }
  &::-webkit-slider-thumb {
    opacity: 0;
  }

}

.position {
  color: #333333;
  background-color: white;
  border-color: #cccccc;
  cursor: default;

  &:hover,&:active,&:focus {
    @include vendor-prefix(box-shadow, none);
    color: #333333;
    background-color: white;
    border-color: #cccccc;
  }

}

#listenEditContainer {

  > div {
    clear: both;
    width: 100%;
    margin-top: 10px;
  }

  & .tags-fs {
    width: 55%;
    float: left;
  }

  & .bounds-fs {
    width: 45%;
    float: right;

    & label {
      text-align: right;
    }
    & .row {
      padding-bottom: 5px;
    }
  }

  & .reference {
    margin: 10px 10px 0px 10px;
  }

}

#listenEditContainer.disabled {

  & * {
    color: rgba(0, 0, 0, 0.2);

  }

}

#chunkTimeStamps {
  // HACK! this should be automatically defined
  width: 1292px;
  text-align: center;
  position: relative;
  margin: -10px auto 0 auto;

  & .position {
    display: inline-block;
    float: left;
  }

  & .left {
    position: absolute;
    left: 0px;
    top: 0px;
    @include vendor-prefix(transform, translateX(-50%));
  }

  & .right {
    position: absolute;
    right: 0px;
    top: 0px;
    @include vendor-prefix(transform, translateX(50%));
  }

  & .btn-toolbar {
    margin-left: 38%;
  }
}

#mainAudioElement {
  display: none;
}

#timeline {
  line-height: normal;
  font-size: smaller;

  & * {
    border: solid black 1px;

  }

  & div {
    clear: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  > div {
    width: 100%;

    > div {
      width: 100%;

      > div {
        width: 33%;

        > div {
          width: 32%;

          > div {
            width: 32%;
          }
        }
      }
    }
  }

  #audioRecording {
    display: block;

    & div:nth-child(1) {
      width: 44%;
    }
    & div:nth-child(2) {
      width: 11%;
    }
    & div:nth-child(3) {
      width: 44%;
    }
  }

}

.details-table {
  @extend .table;
  @extend .table-striped;
  @extend .table-bordered;

  tbody {

  }
}

.decipher-tags-taglist .icon-remove {
  @extend .glyphicon;

  &:before {
    @extend .glyphicon-remove:before;
  }
}


