<div id="content">
    <div ng-show="errorState">
        Something has gone wrong - can't load this page.
    </div>
    <div ng-hide="errorState">


        <h1 id="chunkInfo" class="row">
            <span class="col-md-6">
                <span ng-repeat="p in model.projects" ng-switch="p.permissions == 'access denied'">
                    <!--{{ $first && "" || ", "}}-->
                    <span ng-switch-when="false">
                        <a ng-href="{{p.link}}" target="_self">{{p.name}}</a>
                        <!--<a ng-switch-when="true" class="noPermissions hint--warning hint--bottom hint--rounded"-->
                        <!--data-hint="You have no read access to this project, no information retrieved" ng-href="{{p.link}}">{{p.id}}</a>-->
                        <a href ng-href="{{p.visualizeLink}}" title="Visualize">
                            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                        </a>
                       &nbsp;&#47;&nbsp;
                       <a ng-href="{{ model.site.links[$index]}}" target="_self">{{model.site.name}}</a>
                        &nbsp;
                        <a href ng-href="{{model.site.visualizeLink}}" title="Visualize">
                            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                        </a>
                   </span>

                </span>
            </span>
        </h1>

        <div id="navigator" class="row">

            <div class="col-md-12">
                <span>
                    Start<span class="time">{{ model.audioRecording.recordedDateFormatted }}</span>
                    &nbsp;
                </span>

                <div class="navigator-wrapper text-center">
                    <input ng-class="{'hide-thumb' : jumpToHide}" type="range" min="0" max="{{jumpToMax}}"
                           ng-slider="jumpToMinute" step="1">
                    Navigate to
                    <span class="time">{{jumpToMinuteAbsolute()}}</span>
                    <button class="btn btn-default btn-xs" ng-click="jumpTo()">Go</button>
                </div>

                <span>
                    &nbsp;
                    End: <span class="time">{{ model.audioRecording.recordedEndDateFormatted  }}</span>
                </span>

            </div>
        </div>

        <baw-annotation-viewer class="clearfix" model="model"></baw-annotation-viewer>

        <div id="chunkTimeStamps" class="clear-pseudo center-block">

            <span class="left"> <span class="time">{{startOffsetAbsolute}}</span></span>

            <div class="btn-toolbar">

                <previous-play-next audio-element-model="model.audioElement"  previous-link="previousLink" next-link="nextLink"></previous-play-next>

                <div class="btn-group">
                    <span class="position btn btn-default">
                        <!--<span class="hint relative-chunk-time hint--bottom">{{currentOffsetChunk()}}</span><br/>-->
                        <span class="time">{{currentOffsetAbsolute()}}</span>
                    </span>
                </div>

                <!-- form-group form-group-without-feedback required here due to a bug with ngFormGroup -->
                <volume-slider audio-element-model="model.audioElement"
                                class="input-group btn-group form-group form-group-without-feedback"></volume-slider>

                <autoplay-button audio-element-model="model.audioElement"></autoplay-button>

                <download media="model.media"
                          other-links="downloadLinks">
                    Download
                </download>

            </div>

            <span class="right"> <span class="time">{{endOffsetAbsolute}}</span></span>

        </div>


        <audio ng-audio
               ng-audio-model="model.audioElement"
               ng-audio-sources="model.media.available"
               controls
               class="debug-ui hiddenAudioElement">
        </audio>
        <div id="listenEditContainer" ng-class="{disabled : singleEditDisabled()}">
            <div class="panel panel-default">

                <form id="annotationEditForm" name="annotationEditForm" class="panel-body form-inline" role="form">
                    <fieldset ng-disabled="singleEditDisabled()" class='tags-fs'>
                        <legend>Tags</legend>

                        <!--<input type="hidden" ng-multiple="true" tags multiple ui-select2="select2Settings"-->
                        <!--ng-model="model.selectedAudioEvent.audioEventTags"-->
                        <!--baw-inject-transformers="select2Transformers"/>-->
                        <tags options="taggerOptions"
                              typeahead-options="typeaheadOpts"
                              model="model.selectedAudioEvent.tags"
                              src="t as t.name for t in tags"></tags>

                        <label class="reference">
                            <input type="checkbox" ng-model="model.selectedAudioEvent.isReference">&nbsp; Reference
                            annotation?
                        </label>

                    </fieldset>
                    <fieldset ng-disabled="singleEditDisabled()" class='bounds-fs container'>
                        <legend>
                            Bounds
                        </legend>
                        <div class="container-fluid">
                            <div class="row">

                                <label class="col-xs-2" for="start-time">
                                    <span>Start (s)</span>
                                </label>
                                <input class="col-xs-3" id="start-time" type="number" min="{{limits.timeMin}}"
                                       max="{{limits.timeMax}}" step="0.5" required
                                       ng-disabled="singleEditDisabled()"
                                       ng-model="model.selectedAudioEvent.startTimeSeconds"/>


                                <label class="col-xs-2 col-md-offset-1" for="high-frequency">
                                    <span>High Frequency (Hz)</span>
                                </label>

                                <input class="col-xs-3" id="high-frequency" type="number" min="{{limits.freqMin}}"
                                       max="{{limits.freqMax}}" step="100" required
                                       ng-disabled="singleEditDisabled()"
                                       ng-model="model.selectedAudioEvent.highFrequencyHertz"/>


                            </div>
                            <div class="row">


                                <label class="col-xs-2" for="end-time">
                                    <span>End (s)</span>
                                </label>
                                <input class="col-xs-3" id="end-time" type="number" min="{{limits.timeMin}}"
                                       max="{{limits.timeMax}}" step="0.5" required
                                       ng-disabled="singleEditDisabled()"
                                       ng-model="model.selectedAudioEvent.endTimeSeconds"/>


                                <label class="col-xs-2 col-md-offset-1" for="low-frequyency">
                                    <span>Low Frequency (Hz)</span>
                                </label>
                                <input class="col-xs-3" id="low-frequyency" type="number" min="{{limits.freqMin}}"
                                       max="{{limits.freqMax}}" step="100" required
                                       ng-disabled="singleEditDisabled()"
                                       ng-model="model.selectedAudioEvent.lowFrequencyHertz"/>


                            </div>
                            <div class="row">
                                <small class="col-xs-2 text-right">
                                    Duration (s)
                                </small>
                                <small class="col-xs-3">
                                    {{model.selectedAudioEvent.endTimeSeconds -
                                    model.selectedAudioEvent.startTimeSeconds | number:3}}
                                </small>
                                <small class="col-xs-2 col-md-offset-1 text-right">
                                    Difference (Hz)
                                </small>
                                <small class="col-xs-3">
                                    {{model.selectedAudioEvent.highFrequencyHertz -
                                    model.selectedAudioEvent.lowFrequencyHertz | number:0}}
                                </small>
                            </div>
                        </div>
                    </fieldset>

                </form>
            </div>


        </div>



        <div class="debug-ui">
            <h3>Annotations</h3>
            <table class="details-table">
                <thead>
                <tr>
                    <th>Selected</th>
                    <th>Saved</th>
                    <th>Jump to</th>
                    <th>Annotation ID</th>
                    <th>Audio Recording</th>
                    <th>Created At</th>
                    <th>Created By</th>
                    <th>Deleted At</th>
                    <th>Deleted By</th>
                    <th>Updated At</th>
                    <th>Updated By</th>
                    <th>Tags</th>
                    <th>Time Range</th>
                    <th>Frequency Range</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="ae in model.audioEvents">
                    <td>
                        <!--<input type="radio" ng-checked="ae.selected" ng-model="ae.selected"   name="selectionRadioGroup"  >-->
                        <input type="radio" baw-checked="ae.selected" name="selectionRadioGroup">
                        {{ae.selected && '✓' || '✗'}}
                    </td>
                    <td>
                        {{ae.isDirty && '✗' || '✓'}}
                    </td>
                    <td>
                        <!-- TODO -->
                    </td>
                    <td colspan="{{ae.id && 1 || 2}}">
                        {{ae.id}}
                                <span ng-hide="ae.id">
                                    <em>new annotation</em>
                                </span>
                    </td>
                    <td ng-show="ae.id"><a ng-href="/recordings/{{ae.audioRecording.uuid}}"
                                           class="short-guid">{{ae.audioRecording.uuid}}</a></td>
                    <td>{{ae.createdAt}}</td>
                    <td>{{ae.creatorId}}</td>
                    <td>{{ae.deletedAt}}</td>
                    <td>{{ae.deleterId}}</td>
                    <td>{{ae.updatedAt}}</td>
                    <td>{{ae.updaterId}}</td>
                    <td><span ng-repeat="t in ae.audioEventTags">{{t.tagId | tagName}}{{!$last && ',' || ''}}</span>
                    </td>
                    <td>{{ae.startTimeSeconds | number:3}} - {{ae.endTimeSeconds | number:3}}</td>
                    <td>{{ae.lowFrequencyHertz | number:3}} - {{ae.highFrequencyHertz | number:3}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>