<div id="content" data-ng-controller="ListenCtrl">
    <div ng-show="errorState">
        Something has gone wrong - can't load this page.
    </div>
    <div ng-hide="errorState">
        <h1>Listen</h1>
        Listen and annotate.
        <ul>
        <li>
            Audio recording: <span class="hint absolute-time hint--top">{{model.audioRecording.recordedDate | moment:"format":"dddd, MMMM Do YYYY, HH:mm:ss ZZ"}}</span>,
            Duration of recording: <span class="hint duration hint--top" >{{model.audioRecording.durationSeconds | formatTimeSpan}} </span>
        </li>
        <li>
            Segment: <span class="hint absolute-time hint--top">--TODO--</span>, Duration of segment: <span class="hint duration hint--top" >--TODO-- </span>
        </li>
        <li>
            On screen: <span class="hint absolute-time hint--top">{{absoluteDateChunkStart() | moment:"format":"dddd, MMMM Do YYYY, HH:mm:ss ZZ"}}</span>
            , Duration of chunk: <span class="hint duration hint--top" >{{durationChunk()}} </span>
        </li>
        </ul>
        <div>
            <h3>Navigation</h3>
            <a ng-href="{{createNavigationHref('previous')}}" class="">Previous chunk</a>
            <a ng-href="{{createNavigationHref('next')}}" class="">Next chunk</a>
        </div>
        <h3>Spectrogram</h3>

        <baw-annotation-viewer model="model"></baw-annotation-viewer>
        <div id="chunkTimeStamps" class="clear-pseudo">
            <span class="left" >Segment start: <span class="hint relative-recording-time hint--right">{{startOffsetChunk()}}</span>
            </span>
            <span class="position">
                Position: <br />
                <span class="hint relative-chunk-time hint--bottom">{{currentOffsetChunk()}}</span><br />
                <span class="hint relative-recording-time hint--bottom">{{currentOffsetRecording()}}</span>
            </span>
            <span class="right">Segment end: <span class="hint relative-recording-time hint--left">{{endOffsetChunk()}}</span></span>
        </div>

        <h3>Audio Controls</h3>
        <audio id="main-player" ng-audio="model.audioElement" controls>
            <source ng-repeat="url in model.media.availableAudioFormats" ng-src="{{url.url}}" src="" type="{{url.mimeType}}">
            Your browser does not support the audio element.
        </audio>
        <div id="listenEditContainer">
            <div id="listenEditColumn">
                <h3>
                    Annotation edit
                </h3>
                <span>Selected elements: {{model.selectedAudioEvents.length}}</span>

                <form id="annotationEditForm" name="annotationEditForm"
                      ng-repeat="selectedEvent in model.audioEvents | filter:selectedFilter">
                    <label>
                        <span>Tags</span>
                        <input type="hidden" ng-multiple="true" tags multiple ui-select2="select2Settings"
                               ng-model="selectedEvent.audioEventTags" baw-inject-transformers="select2Transformers"/>
                        <!--<option ng-repeat="t in tags" value="{{t.id}}">{{t.text}} <span> &lt;!&ndash; ng-show={{t.type_of_tag}}&ndash;&gt;
                        ,-->
                        <!--{{t.typeOfTag}} &lt;!&ndash; &ndash;&gt;</span></option>-->

                    </label>
                    <label>
                        <span>Duration (seconds)</span></label>
                    <input type="number" min="{{limits.timeMin}}" max="{{limits.timeMax}}" required
                           ng-model="selectedEvent.startTimeSeconds"/>
                    &nbsp;to&nbsp;
                    <input type="number" min="{{limits.timeMin}}" max="{{limits.timeMax}}" required
                           ng-model="selectedEvent.endTimeSeconds"/>
                    <label>
                        <span>Frequency</span> </label>
                    <input type="number" min="{{limits.freqMin}}" max="{{limits.freqMax}}" required
                           ng-model="selectedEvent.lowFrequencyHertz"/>
                    &nbsp;to&nbsp;
                    <input type="number" min="{{limits.freqMin}}" max="{{limits.freqMax}}" required
                           ng-model="selectedEvent.highFrequencyHertz"/>
                    <fieldset>
                        <legend>Annotation options</legend>
                        <label>
                            <input type="checkbox" ng-model="selectedEvent.isReference">&nbsp;Is reference tag?
                        </label>
                    </fieldset>

                    <!--<button type="button" ng-click="reset()">Clear</button>-->
                    <!--<button ng-click="addAnnotation()">Add annotation</button>-->

                </form>
            </div>
            <div id="listenTableColumn">
                <h3>Annotations</h3>
                <table>
                    <thead>
                    <tr>
                        <th>Selected</th>
                        <th>Jump to</th>
                        <th>Annotation ID</th>
                        <th>Audio Recording</th>
                        <th>Created At</th>
                        <th>Created By</th>
                        <th>Deleted At</th>
                        <th>Deleted By</th>
                        <th>Updated At</th>
                        <th>Updated By</th>
                        <th>Tags</th>
                        <th>Time Range</th>
                        <th>Frequency Range</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="ae in model.audioEvents">
                        <td>
                            <!--<input type="radio" ng-checked="ae._selected" ng-model="ae._selected"   name="selectionRadioGroup"  >-->
                            <input type="radio" baw-checked="ae._selected"  name="selectionRadioGroup"  >
                            SELECTED:{{ae._selected}}
                        </td>
                        <td>
                            <!-- TODO -->
                        </td>
                        <td colspan="{{ae.id && 1 || 2}}">
                            {{ae.id}}
                    <span ng-hide="ae.id">
                        <em>new annotation</em>
                    </span>
                        </td>
                        <td ng-show="ae.id"><a ng-href="/recordings/{{ae.audioRecording.uuid}}"
                                               class="short-guid">{{ae.audioRecording.uuid}}</a></td>
                        <td>{{ae.createdAt}}</td>
                        <td>{{ae.creatorId}}</td>
                        <td>{{ae.deletedAt}}</td>
                        <td>{{ae.deleterId}}</td>
                        <td>{{ae.updatedAt}}</td>
                        <td>{{ae.updaterId}}</td>
                        <td><span ng-repeat="t in ae.audioEventTags">{{t.tagId | tagName}}{{!$last && ',' || ''}}</span></td>
                        <td>{{ae.startTimeSeconds | number:3}} - {{ae.endTimeSeconds | number:3}}</td>
                        <td>{{ae.lowFrequencyHertz  | number:3}} - {{ae.highFrequencyHertz | number:3}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!--<baw-debug-info></baw-debug-info>-->
    </div>
</div>