//noinspection CssInvalidHtmlTagReference
volume-slider {

  width: 200px;
  position: relative;

  #volumeControl-mute {

    width: 45px;
    position:absolute;
	
    span {
      @extend .glyphicon;
	  font-size: 13.6px;
      &:before {
        @extend .glyphicon-volume-up:before;
      }

    }

    &.muted {
      span {
        &:before {
          @extend .glyphicon-volume-off:before;
        }
      }
    }

  }

  #volumeControl-slider {

    -webkit-appearance: none;
    margin-left:-1px;
    position:relative;
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 45px);
    margin-left: 45px;


    &:focus{
      z-index:1;
    }

    // track
    $track-height : 2px;
    $thumb-size: 10px;
    @mixin track {
      background-color: $btn-default-color;
      border: none;
      height: $track-height;

    }

    &::-ms-track {

      color: transparent;
      border: none;
      @include track;
    }
    &::-moz-range-track {
      @include track;
    }
    &::-webkit-slider-runnable-track {
      @include track;
    }


    // thumb
    @mixin thumb {
      background: none ;
      //background-color: blue;
      background-color: $btn-default-bg;
      width: $thumb-size;
      height: $thumb-size;
      border: solid $btn-default-color 1px;
      @include rounded-corners(50%);
      @include vendor-prefix(box-sizing, border-box);
    }

    &::-ms-thumb {
      @include thumb;
    }
    &::-moz-range-thumb {
      @include thumb;
    }
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      margin-top: - ($thumb-size / 2 ) + ($track-height/2);
      @include thumb;

    }

    // before
    &::-ms-fill-lower {
      border: none;
      background:none;
    }

    &::-ms-ticks-before {
      display: none;
      border: none;
      background:none;
    }

    // after
    &::-ms-fill-upper {
      border: none;
      background:none;

    }

    &::-ms-ticks-after {
      display: none;
      border: none;
      background:none;
    }
  }


}

/*

glyphicon glyphicon-volume-down
glyphicon glyphicon-volume-off
glyphicon glyphicon-volume-up

.decipher-tags-taglist .icon-remove {
  @extend .glyphicon;

  &:before {
    @extend .glyphicon-remove:before;
  }
}
*/