<div click-outside="hideDownloadLinks()" class="download-links-wrapper">

    <button class="btn btn-default"
            ng-click="toggleShowDownloadLinks()"

            title="Download">
            <span class="glyphicon glyphicon-download"></span>
    </button>
    <div ng-class="{'show-links': downloadLinksShowing, 'hide-links': !downloadLinksShowing}"
        class="download-links">

        <div>Download:</div>

        <a target="_blank"
               ng-href="{{$ctrl.media.spectrogram.url}}"
               title="Download the spectrogram">Spectrogram</a>
        <a target="_blank"
               ng-class="{disabled: !$ctrl.media.available.audio['wav'].url}"
               ng-href="{{$ctrl.media.available.audio['wav'].url}}"
               title="{{ model.media.available.audio['wav'].url && 'Download the .wav file' || 'This file format is not available'  }}"
    >Audio (WAV)</a>
        <a target="_blank"
                       ng-class="{disabled: !$ctrl.media.available.audio['mp3'].url}"
                       ng-href="{{$ctrl.media.available.audio['mp3'].url}}"
                       title="{{ $ctrl.media.available.audio['mp3'].url && 'Download the .mp3 file' || 'This file format is not available'  }}"
                    >Audio (MP3)</a>
        <a ng-repeat="(key,link) in $ctrl.otherLinks" target="_blank"
                       ng-class="{disabled: !link.url}"
                       ng-href="{{link.url}}"
                       title="{{link.text}}"
                    >{{link.text}}</a>
    </div>

</div>