<div class="btn-group">
    <a class="btn btn-default"
       ng-href="{{$ctrl.previousLink()}}"
       ng-if="showPrevious"
       ng-disabled="disabled()"
       title="Previous Recording">
        <span class="glyphicon glyphicon-step-backward"></span>
    </a>
    <button class="btn btn-default" ng-click="togglePlayState()"
            ng-disabled="!audioElementModel.canPlay"
            title="{{ audioElementModel.isPlaying && 'Pause' || 'Play' }}">
                        <span ng-class="{'glyphicon-pause': audioElementModel.isPlaying}"
                              class="glyphicon glyphicon-play"></span>
    </button>
    <a class="btn btn-default"
       ng-href="{{$ctrl.nextLink()}}"
       ng-if="showNext"
       ng-disabled="disabled()"
       title="Previous Recording">
        <span class="glyphicon glyphicon-step-forward"></span>
    </a>
</div>