
<div class="examples-container">
    <div ng-repeat="(key,label) in $ctrl.labels" class="label-examples" ng-if="label.examples.length" ng-class="{selected : label.showExamples}">

        <h3>
            <i class="fa fa-arrow-left arrow prev" aria-hidden="true" ng-click="changeCurExample(key, -1)"  ng-if="label.examples.length>1"></i>
            <span>{{label.label}} example{{(label.examples.length) > 1 ? 's' : ''}}</span>
            <i class="fa fa-arrow-right arrow next" aria-hidden="true" ng-click="changeCurExample(key, 1)" ng-if="label.examples.length>1"></i>
        </h3>


        <div ng-repeat="(key,example) in label.examples">
            <citizen-science-example example="example" selected="(key===label.curExample)"  ></citizen-science-example>
        </div>

    </div>
</div>