#locationMap {
  width: 100%;
  height: 250px;
  margin: 0 0 5px 0;
}

.birdWalkImage {
  height: 250px;
}

#birdWalkStats {
  width: 100%;
  margin: 5px 0 0 0;
}

.markerLabel {
  color: black;
  background-color: white;
  font-family: "Lucida Grande", "Arial", sans-serif;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  /*width: 40px;*/
  border: 2px solid white;
  white-space: nowrap;
}