.citizen-science.ipswich {

  #label-buttons {

    a {
      background: none;
      color: #000;


      &:hover {
        color: #666;

        .checkbox {
          border-color: #666;
        }

      }

    }

    a.selected {
      i {
        color: #8cc967;
      }
    }

    i {
      display: inline-block;
      width: 1.2em;
      font-size: 2em;
      position: relative;
      top: 0.25em;
    }

  }




}

