
.citizen-science {

  #label-buttons {
    background: rgba(0, 0, 0, 0.6);
    width: 400px;
    margin: 0px auto 0px auto;
    text-align: center;
    border-radius: 8px;
    padding: 0px 20px 20px 20px;
  }

  #label-buttons, .label-check {

    a {

      display: inline-block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 5px;
      width: auto;
      padding: 5px 8px 5px 8px;
      font-size: 18px;
      cursor: pointer;
      line-height: 1em;
      color: #FFFFFF;
      text-decoration: none;

      &:hover {
        .label-check-shell {
          background-color: rgba(60,60,60,0.8);
        }
      }


      &.example-toggle {
        text-decoration: none;

        &.selected {
          text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.8);
        }

      }

    }

    .expanded-label-container {

      display: flex;

      a {
        .label-check-shell {
          border-radius: 0.75em;
        }
      }

    }

    a {

      vertical-align: middle;

      .label-value-text {

      }

      .label-check-shell {

        border: 2px solid #ffffff;
        border-radius: 0.25em;
        display: inline-block;
        width: 1.5em;
        height: 1.5em;
        margin-left: 0.3em;
        margin-right: 0.3em;
        vertical-align: middle;
        background: rgba(0,0,0,0.5);

      }

      &.yes {
        b {
          color: #8cc967;
          &:before {
            content: "\f00c";
          }
        }
      }
      &.maybe {
        b {
          color: #ffbc3e;
          &:before {
            content: "\f128";
          }
        }
      }
      &.no {
        b {
          color: #d00900;
          &:before {
            content: "\f00d";
          }
        }
      }

      b {
        font-size: 1.3em;
        &.grey {
          color: #666666;
          opacity: 0.5;
        }
      }

    }










/*

     a {

       .label-value-text {
         width: 40px;
         display: inline-block;
       }

       &.empty {

       }
       &.yes {
         i {
           b {
             color: #8cc967;
             &:before {
               content: "\f00c";
             }
           }
         }
       }
       &.maybe {
         i {
           b {
             color: #ffbc3e;
             &:before {
               content: "\f128";
               padding-left:0.18em;
             }
           }
         }
       }
       &.no {
         i {
           b {
             color: #d00900;
             &:before {
               content: "\f00d";
               padding-left:0.06em;
             }
           }
         }
       }

       i {
         position: relative;
         height:1em;
         &:before {
           content: "\f096";
           position:absolute;
           top:0.15em;
           left:0px;
         }
         &.radio:before {
           content: "\f10c";
         }
         b {
           position: absolute;
           top:0.15em;
           font-size: 0.9em;
           &.grey {
             color: #666666;
             opacity: 0.5;
           }
         }
       }

     }

    i {
      display: inline-block;
      text-align: left;
      vertical-align: middle;
      width: 1.0em;
      font-size: 2em;
      position: relative;
      top: -0.25em;
    }

*/


  }



}

