svg {
  .x.axis {

    // this style is quite important
    //  if missing the scale will be appear as a thick black line
    & line, path {
      fill: none;
      stroke: gray;
      shape-rendering: crispEdges;
    }
  }

  .y.axis {

    // this style is quite important
    //  if missing the scale will be appear as a thick black line
    & line, path {
      fill: none;
      stroke: gray;
      shape-rendering: crispEdges;
    }
  }

}
