//@import 'base';

// color-swatch
$spectrogramProgressLine: #FF0000;
$spectrogramBorder: #8c8c8c;
$tagAlignmentLine: #ffa73c;

$marqueeBorderColorSelected: #FFFF00;
$marqueeBorderColorSelectedGlow: #f7ffef;
$marqueeBorderColorHover: #00ffe9;
$marqueeBorderColorInactive: #00FF00;
$loadGifPath: $IMAGE_ASSET_PATH + 'assets/img/load.gif';

// see _touch.scss and annotate.tpl.html
$grab-handle-radius: 32px;
$grab-handle-bottom-shift: 12px;

//noinspection CssInvalidHtmlTagReference
baw-annotation-viewer {

  width: 100%;
  text-align: center;
  display: block;

  & .annotation-viewer-ctrl {
    background: url(#{$loadGifPath}) center center no-repeat;
  }

  & #scroller {
    display: inline-block;
    overflow-x: visible;

    // overflow-y disabled due to: https://github.com/QutBioacoustics/baw-client/issues/90
    // not sure of side affects.
    //overflow-y: hidden;
    line-height: 0;
    // this padding is for the drag handle
    padding-top: 0;
    padding-right: $grab-handle-radius;
    padding-bottom: (($grab-handle-radius * 2) + $grab-handle-bottom-shift);
    padding-left: $grab-handle-radius;
  }

  & .tag-preview {

    font-size: 9pt;

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;

      position: relative;
      height: 60px;
      //overflow: none;
      line-height: $standard-line-height;

      li {

        // I think this is affected by .boxItem's box-sizing
        margin-left: -3px;
        position: absolute;
        bottom: -1px;
        padding-left: 2px;
        z-index: 0;
        background-color: transparent;

        // keep border so element does not resize when border added in .active
        border-bottom: transparent solid 1px;

        @include vendor-prefix(transform-origin, 0 0);
        @include vendor-prefix(transform, rotate3d(0, 0, 1, -20deg));

      }
    }
  }

  & .active {
    z-index: 100;
    background-color: #ffffff;
    border-bottom: $tagAlignmentLine solid 1px !important;
  }

  & .annotation-viewer {

    // prevent text-selection of the elements on the draw surface
    @include vendor-prefix(user-select, none);

    display: inline-block;
    position: relative;
    line-height: 0;
    padding: 0 !important;
    margin: 0;
    border: 1px dotted $spectrogramBorder;
    //border-width: 1px 0px 1px 0px;

    & img {
      /* set a temporary height to avoid UI jumping around on image load
          -- note: this value is usually overridden with a element level style by
          the enforcedImageHeight value model.
        */
      height: 256px;
      z-index: 0;

    }

    & grid-lines {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }

    // overlay
    & .annotationOverlay {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      overflow: hidden;
      z-index: 2;

      // debug
      // @if $DEBUG { background-color: rgba(255,0,0,0.15) ;}

      // required for IE10
      background-color: rgba(255, 255, 255, 0);
      cursor: crosshair;

    }

    & .positionLine {
      //border-left: solid 1px $spectrogramProgressLine;
      background-color: $spectrogramProgressLine;
      height: 100%;
      width: 1px;
      position: absolute;
      z-index: 1000;
      top: 0;
      left: 0;
      @include vendor-prefix(transform, translate3d(0px, 0, 0));

      &.hidden {
        display: none;
      }

      > .grab-bottom-center {
        bottom: -$grab-handle-bottom-shift;
        left: 0.3px
      }

      &.is-dragging {
        > .grab-bottom-center {
          // simulate the :hover and :active styles when dragging

          @include touch-handle-hover;

          @include touch-handle-active;

          &:before {
            content: url("data:image/svg+xml;utf8,#{$triangle-hover}");
          }
        }
      }

    }
  }

  & .controls {

  }

  // general

  & .boxItem {
    text-align: left;
    border-style: $border-style;
    border-width: $border-width;
    border-color: $marqueeBorderColorInactive;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.05);
    overflow: visible;
    z-index: 0;
    cursor: move;

    // this needs to be changed because of a jquery-ui bug
    //http://bugs.jqueryui.com/ticket/8932
    box-sizing: content-box;

    &:before {
      @if not $DEBUG {
        background-color: red;
      }
      border-left: $tagAlignmentLine solid 1px;
      height: 256px;
      position: relative;
      top: -257px;
      left: -1px;
      display: inline-block;
      content: "";
      visibility: hidden;

    }

    &[data-selected="true"] {
      border-color: $marqueeBorderColorSelected !important;
      @include glow($marqueeBorderColorSelectedGlow);
      z-index: 100;

      & .close-icon {
        visibility: visible;
      }

      &:before {
        visibility: visible;
      }
    }

    &:hover {
      border-color: $marqueeBorderColorHover;
      & .close-icon {
        visibility: visible;
      }

      &:before {
        visibility: visible;
      }
    }
  }

  & .close-icon {
    position: absolute;
    left: 3px;
    top: 2px;

    cursor: pointer;
    font-size: 8px;

    // icon glyph used from bootstrap

    visibility: hidden;
  }
}