//@import 'base';

// color-swatch
$spectrogramProgressLine: #FF0000;
$spectrogramBorder: #666666;
$tagAlignmentLine: #ffa73c;

$marqueeBorderColorSelected: #FFFF00;
$marqueeBorderColorSelectedGlow: #f7ffef;
$marqueeBorderColorHover: #00ffe9;
$marqueeBorderColorInactive: #00FF00;

//noinspection CssInvalidHtmlTagReference
baw-annotation-viewer {

  width: 100%;
  text-align: center;

  & .annotation-viewer-ctrl {
    background: url(/assets/img/load.gif) center center no-repeat;
  }

  & #scroller {
    display: inline-block;
  }

  & .tag-preview {

    font-size: 9pt;

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;

      position:  relative;
      height:  60px;
      //overflow: none;
      line-height: $standard-line-height;

      li {

        margin-left: -4px;
        position: absolute;
        bottom:  -1px;
        padding-left: 2px;
        z-index: 0;
        background-color: transparent;

        // keep border so element does not resize when border added in .active
        border-bottom: transparent solid 1px;

        @include vendor-prefix(transform-origin, 0 0);
        @include vendor-prefix(transform, rotate3d(0,0,1,-20deg));

      }
    }
  }

  & .active {
    z-index: 100;
    background-color: #ffffff;
    border-bottom: $tagAlignmentLine solid 1px !important;
  }


  & #scroller{

    overflow-x: scroll;
    overflow-y: hidden;
    line-height: 0;
  }

  & .annotation-viewer {
    display: inline-block;
    position: relative;
    line-height: 0;
    padding: 0;
    margin: 0;

    & img {
      /* set a temporary height to avoid UI jumping around on image load
          -- note: this value is usually overridden with a element level style by
          the enforcedImageHeight value model.
        */
      height: 256px;
      border: 1px solid $spectrogramBorder;
      border-width: 1px 0px 1px 0px;

    }

    // overlay
    & img + div {
      width: 100%;
      height : 100%;
      position: absolute;
      top: 0;
      left: 0;
      overflow: hidden;

      // debug
     // @if $DEBUG { background-color: rgba(255,0,0,0.15) ;}

      // required for IE10
      background-color: rgba(255, 255, 255, 0);

    }

    & .positionLine {
      border-left: solid 1px $spectrogramProgressLine;
      height: 100%;
      width: 1px;
      position: absolute;
      top:  0;
      left: 0;
      @include vendor-prefix(transform, translatex(0 px));
    }
  }

  & .controls {

  }

  // general

  & .boxItem {
    text-align: left;
    border-style: $border-style;
    border-width: $border-width;
    border-color: $marqueeBorderColorInactive;
    position: absolute;
    background-color: rgba(255,255,255,0.05);
    overflow: visible;
    z-index: 0;

    &:before {
      @if not $DEBUG {
        background-color: red;
      }
      border-left: $tagAlignmentLine solid 1px;
      height: 256px;
      position: relative;
      top: -257px;
      left: -1px;
      display: inline-block;
      content: "";
      visibility: hidden;

    }

    &[data-selected="true"] {
      border-color: $marqueeBorderColorSelected !important;
      @include glow($marqueeBorderColorSelectedGlow);
      z-index: 100;

      & .close-icon{
        visibility: visible;
      }

      &:before {
        visibility: visible;
      }
    }

    &:hover  {
      border-color: $marqueeBorderColorHover;
      & .close-icon {
        visibility: visible;
      }

      &:before {
        visibility: visible;
      }
    }
  }

  & .close-icon {
    position: absolute;
    left: 3px;
    top: 2px;

    cursor: pointer;
    font-size: 8px;

    // icon glyph used from bootstrap

    visibility: hidden;
  }
}