/**
 * copied from annotationViewer.scss
 * as a reusable component, it shouldn't be inside annotation viewer
 */
.positionLine {
  //border-left: solid 1px $spectrogramProgressLine;
  background-color: $spectrogramProgressLine;
  height: 100%;
  width: 1px;
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  @include vendor-prefix(transform, translate3d(0px, 0, 0));

  &.hidden {
    display: none;
  }

}

