<div class="bristlebird">

<!--
        <nav class="cs-progress">
            <ul>

                <li ng-repeat="(key, sample) in samples"  ng-class="{done : sample.done,  cur : currentSample === key}" ng-click="goToSample(key)">

                    {{ key + 1 }}

                </li>
            </ul>
        </nav>
-->
    <dataset-progress items="samples" selected="currentSample"></dataset-progress>


    <div class="cs-main-container">
        <div class="main wrapper clearfix">

                <div class="citsci-debug">
                    <p>Currently viewing: Sample {{ currentSample }}</p>
                    <p>Audio id: {{ samples[currentSample].recordingId }}</p>
                    <p>Start Offset: {{ samples[currentSample].startOffset }}</p>
                </div>

                <div class="audio-wrapper">
                    <div class="spectrogram-wrapper">
                        <img class="spectrogram" ng-src="{{media.available.image.png.url}}">
                        <div position-line media="media" audio-data="model.audioElement"></div>
                    </div>
                    <audio id="citsci-sample" ng-audio="model.audioElement" controls>
                        <source ng-repeat="key in media.available.audioOrder"
                                ng-src="{{media.available.audio[key].url}}" src=""
                                type="{{media.available.audio[key].mimeType}}">
                        Your browser does not support the audio element.
                    </audio>
                </div>

                <div id="main_buttons">
                    <a id="found" href="#" ng-click="found()"> I found an Eastern Bristlebird!</a>
                    <a id="not_found" href="#" ng-click="notFound()"> No bristlebird :-( </a>
                </div>

            <div id="loading"></div>


        </div> <!-- #main -->
    </div> <!-- #main-container -->

</div>