$gridLines: rgba(66, 139, 202, 0.40);
$scale-background:  #f5f5f5; //#7eff5f

@mixin scale-base() {
  background-color: $scale-background;
  font-family: $font-family-monospace;
  font-size: $font-size-small;;
  line-height: 1.0;
  position: absolute;
  color: $gray;
}

@mixin scale-title-base() {
  font-size : $font-size-small;
  font-weight: bold;
  position: absolute;
}

& .gridLines {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

  & .yLines {
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    &>div {
      position: absolute;
      // top gets modified
      top: 0;
      left: 0;
      height: 1px;
      width: 100%;

      background-color: $gridLines;
    }
  }

  & .xLines {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    &>div {
      position: absolute;
      top: 0;
      // left gets modified
      left: 0;
      width: 1px;
      height: 100%;
      margin: 0 0 0 0;

      background-color: $gridLines;
    }
  }

  & .yScale {
    @include scale-base;

    height: 100%;
    width: auto;

    top: 0;
    left: -1px;
    @include vendor-prefix(transform, translateX(-100%));

    & span {
      position: absolute;
      @include vendor-prefix(transform, translateY(-50%) translateX(-100%));
      background-color: $scale-background;
      &:first-child {
        left: -0.5em;
      }
    }
  }

  & .xScale {
    @include scale-base;

    height: auto;
    width: 100%;

    bottom: -1px;
    left: 0;
    @include vendor-prefix(transform, translateY(100%));

    & span {
      position: absolute;
      @include vendor-prefix(transform, translateX(-50%));
      background-color: $scale-background;
    }
  }



  & .yTitle {
    @include scale-title-base;

    @include vendor-prefix(transform, translateX(-100%) rotate3d(0, 0, 1, -90deg) translateX(50%));
    @include vendor-prefix(transform-origin, 100% 0%);


    left: 0px;
    top: 50%;
    margin-left: 0.5em;

    width: auto;
  }

  & .xTitle {
    @include scale-title-base;

    @include vendor-prefix(transform, translateX(-50%));

    bottom: 0;
    left: 50%;
    height: auto;


  }
}


.dark {
  & .yScale span {
    background-color: transparent;
    color: #fff;
  }
}