<div id="content">
    <h1>Recent Audio Recordings</h1>
    <div class="row">
        <div class="col-md-12">
            <span ng-if="recentRecordings.length === 0">
                No recent audio recordings.
            </span>
            <table id="recentRecordingsTable" class="table table-striped table-hover"  ng-if="recentRecordings.length !== 0">
                <thead>
                    <tr>
                        <th>Site</th>
                        <th>Duration</th>
                        <th>Uploaded</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="r in recentRecordings" ng-click="navigate(r.listenLink)">
                        <td>{{r.site.name || r.siteId}}</td>
                        <td>{{r.durationHumanized}}</td>
                        <td>{{r.uploadedHumanized}}</td>
                        <td>
                            <a ng-href="{{r.listenLink}}" class="btn btn-primary btn-small">
                                <span class="glyphicon glyphicon-play"></span> Play
                            </a>
                            <a ng-href="" class="btn btn-default btn-small" target="_self">
                                <span class="glyphicon glyphicon-map-marker"></span> Site
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>