//$loadGifPath: $IMAGE_ASSET_PATH + 'assets/img/load.gif';
@import "../annotationViewer/annotationViewer";

$item-tile-height: 420px;

/* Library list */
.annotation-paging {
  display: inline-block;
  margin: 0;
}

.annotation-library-results {
  & h3 {
    margin-top: 0;
    margin-bottom: 1em;
    vertical-align: middle;
  }
}

.annotation-library {
  margin-top: 0px;

  & .library-item {
    padding: 10px 10px 0 40px;
    margin: 5px;
    position: relative;
    max-height: $item-tile-height;
    height: $item-tile-height;
    min-width: 180px;

    & .library-item-info {
      display: block;
      clear: both;
      margin-top: 20px;
      min-width: 163px;

      & audio {
        width: 100%;
        min-width: 50px;
        //max-width:300px;
        margin: 0 auto 0 auto;
        //display:block;
        /*@include vendor-prefix(transform, scale(0.8));*/
      }

      & .info-entry {
        font-size: small;
        display: block;
        margin: 3px 5px;
        overflow-x: hidden;
        min-width: 110px;
        max-width: 300px;

        & .glyphicon {
          margin-right: 0.5em;
        }
      }
    }
  }
}

/* Library single item */
.library-single {
  padding: 10px 0 0 40px;
  position: relative;
  margin: 0 auto 0 auto;
}

.audio-wrapper {
  margin: 30px auto 1em auto;
  text-align: center;

  audio {
    min-width: 300px;
  }
}

.library-single-info {
  margin: 0 auto 0 auto;

  & .reported {
    color: $brand-danger;
    margin: 0 $padding-base-horizontal;
  }

  & .reported-comment {
    color: $gray-lighter;
  }

  & .site-name {
    padding-left: 2em;
  }
}

/* Shared spectrogram and grid  */
.library-spectrogram {
  @include vendor-prefix(user-select, none);

  // allows centre alignment, but also self-width-reducing
  // behaviour of inline-block
  display: table;
  position: relative;
  line-height: 0;
  padding: 0 !important;
  margin: 0 auto;
  border: 1px dotted #8c8c8c;
  background: $loadGifPath center center no-repeat;

  & img {

  }

  & .library-spectrogram-grid {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  & .marquee-clipper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    overflow: hidden;
  }

  & .library-spectrogram-bounds {
    position: absolute;

    // from _annotation_viewer.scss
    border: 1px solid $marqueeBorderColorInactive;
  }
}