<div id="content" data-ng-controller="AnnotationItemCtrl">
    <h3>Annotation {{model.audioEventId}}</h3>

    <div class="row">
        <div class="col-md-12">
            <div class="annoSingleItem"
                 data-ng-style="{width:model.converters.conversions.enforcedImageWidth + 100}">
                <div class="annoSingleSpectrogram">
                    <img data-ng-src=""
                         data-ng-style="{width: model.converters.conversions.enforcedImageWidth, height: model.converters.conversions.enforcedImageHeight}">
                    <!-- {{item.media.availableImageFormats.png.url}} -->
                    <grid-lines configuration="model.gridConfig" class="annoSingleGrid"></grid-lines>
                    <div class="annoSingleBounds"
                         data-ng-style="{top: model.bounds.top, left: model.bounds.left, width: model.bounds.width, height: model.bounds.height}"></div>
                </div>
                <audio id="annoSingleAudio{{$index}}" controls
                       data-ng-style="{width:model.converters.conversions.enforcedImageWidth}">
                    <!--source data-ng-repeat="resource in item.media.availableAudioFormats" data-ng-src="{{resource.url}}" src=""
                                            type="{{resource.mimeType}}"-->
                    <!--Your browser does not support the audio element. -->
                </audio>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <ul class="pager">
                <li class="previous" data-ng-show="model.paging.prevEvent.link">
                    <a data-ng-href="{{model.paging.prevEvent.link}}">&larr; Previous</a>
                </li>
                <li class="next" data-ng-show="model.paging.nextEvent.link">
                    <a data-ng-href="{{model.paging.nextEvent.link}}">Next &rarr;</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="annoSingleItemInfo panel panel-default">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title pull-left">Details</h3>
                </div>
                <div class="panel-body">
                    <div class="list-group">
                        <a data-ng-repeat="tag in model.tags"
                           data-ng-href="{{model.tagSearchUrl}}"
                           class="list-group-item" title="Tag.">
                            <span class="glyphicon glyphicon-tags"></span>&nbsp;
                            <span class="badge">{{tag.typeOfTag.replace('_',' ')}}</span>
                            <span class="badge" data-ng-show="tag.retired">retired</span>
                            <span class="badge" data-ng-show="tag.isTaxanomic">taxonomic</span>
                            {{tag.text}} (ID {{tag.id}})
                        </a>
                        <a data-ng-href="{{model.listenUrl}}" class="list-group-item" title="Start date.">
                            <span class="glyphicon glyphicon-music"></span>&nbsp;
                            Created {{model.audioEventStartDate | date: 'medium'}}
                        </a>
                        <a data-ng-href="{{model.listenUrl}}" class="list-group-item" title="Duration.">
                            <span class="glyphicon glyphicon-time"></span>&nbsp;
                            {{model.audioEventDuration}} seconds duration
                        </a>
                        <a data-ng-href="{{model.siteUrl}}" class="list-group-item" title="Site name.">
                            <span class="glyphicon glyphicon-map-marker"></span>&nbsp;
                            {{model.siteName}}
                        </a>
                        <a data-ng-href="{{model.userUrl}}" class="list-group-item" title="User.">
                            <span class="glyphicon glyphicon-user"></span>&nbsp;
                            {{model.ownerName }}
                        </a>
                        <a data-ng-href="{{model.similarUrl}}" class="list-group-item"
                           title="Find similar annotations.">
                            <span class="glyphicon glyphicon-search"></span>&nbsp;
                            Find Similar
                        </a>
                        <a class="list-group-item" title="Comments.">
                            <span class="glyphicon glyphicon-comment"></span>&nbsp;
                            0
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="annoSingleItemInfo panel panel-default">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title pull-left">Comments</h3>
                </div>
                <div class="panel-body"></div>
            </div>
        </div>
    </div>
</div>