

#listenEditContainer {

}


#listenEditColumn {
  width: 250px;
  display: inline-block;
}

#listenTableColumn {
  display: inline-block;
  vertical-align: top;
}

#segmentTimeStamps {
  width: 100%;

  & span {
    &:nth-child(1) {
      float: left;
    }

    &:nth-child(2) {
      float: right;
    }
  }
}