left-nav-bar, right-nav-bar {
  ul.nav-pills > li {
    & > a, & > button {
      padding: 5px (1em/4); // approximately 1 standard space's width
      text-align: left;
    }
  }

  a .fa, a>.glyphicon {
    color: $text-color;
  }
}

left-nav-bar {
  .tooltip-wide {
    width: 200px;
  }

  @for $i from 0 through 4 {
    .indentation-#{$i} {
      width: calc(100% - #{1em * $i});
      margin-left: (1em * $i) !important;
      font-size: 100% - ($i * 3%);
    }
  }
}