left-nav-bar, right-nav-bar {
  ul.nav-pills > li {
    & > a, & > button {
      padding: 5px 10px;
      text-align: left;
    }
  }
}

right-nav-bar {
  a>.fa, a>.glyphicon {
    color: $text-color;
  }
}

left-nav-bar {
  @for $i from 0 through 4 {
    .indentation-#{$i} {
      $step: ($i * 5%);
      width: 100% - $step;
      margin-left: $step !important;
      font-size: 100% - $step;
    }
  }
}