<div id="content">
    <h1>Recordings visualisation options</h1>
    <small>
        The current selection is {{current()}}
    </small>

    <form class="form-inline" role="form">
        <div class="row">
            <div class="col-md-4">
                <label for="siteSelector">Sites</label>
                <select id="siteSelector" class="form-control"
                    ng-model="currentSiteInfo"
                    ng-change="selectedSiteChange()"
                    ng-options="site.name for site in sites track by site.id"></select>
            </div>
            <div class="col-md-4 text-center"><br/> | OR | </div>
            <div class="col-md-4">
                <label for="projectSelector">Project</label>
                <select id="projectSelector" class="form-control"
                    ng-model="currentProjectInfo"
                    ng-change="selectedProjectChange()"
                    ng-options="project.name for project in projects track by project.id"></select>
            </div>
        </div>
    </form>

    <h2>Calendar view</h2>
    <div>
         <label><input ng-model="calendarViewOptions.singleColor" type="checkbox">Single color?</label>
        <baw-calendar-view data="filteredAudioRecordings" options="calendarViewOptions"></baw-calendar-view>
    </div>
    <h2>Timeline view</h2>
    <div>
        <baw-timeline-view data="filteredAudioRecordings"></baw-timeline-view>
    </div>
    <h2>Dot view <small>Shows audio recordings per hour in a day for each year</small></h2>
    <div>
        <baw-dot-view data="filteredAudioRecordings"></baw-dot-view>
    </div>
    <h2>Terrain view <small>Zoomable with mouse wheel and pannable by dragging</small></h2>
    <div>
        <baw-terrain-view  class="reset-box-sizing" data="filteredAudioRecordings"></baw-terrain-view>
    </div>
    <h2>Audio view</h2>
    <div>
        <baw-audio-view  class="reset-box-sizing" data="filteredAudioRecordings"></baw-audio-view>
    </div>
</div>