@import '_base';
@import '_dynamic';

/**********************************************************
 *
 *                  Default styles
 *
 * - elements sorted alphabetically
 * - classes sorted alphabetically
 * - properties sorted in logical order
 * - no magic numbers / colors allowed. this is what SASS is for.
 **********************************************************/

/*
 *
 *  Elements
 *
 */

* {
    margin: 0;
    padding: 0;
    color: nth($master-dark, 1);
}

a {
  outline: none;
  text-decoration: underline;
  color: nth($master-dark, 1);

  &:visited {
    color: nth($master-dark-2, 1);;
  }

  &:hover {
    text-decoration: none;
    color: nth($master-highlight, 1);
  }

  &:active {
    color: nth($master-complementary, 1)
  }
}

baw-debug-info {
  margin-top: 2em;
}

body {
  background-color: nth($master-background, 1);
  font: 12px/18px Arial, Tahoma, Verdana, sans-serif;
  height: 100%;
}


input {
  vertical-align: middle;
}

img {
  border: none;
}

html {
    height: 100%;
}

label {
  display: block;

  &>span {
    display: block;
  }

  &>span + * {
    margin-left: 2em;
  }
}

li {

  & ul, & ol {
    margin:0 1.5em;
  }
}

p {
    margin: 0 0 18px;
}

pre {
  font-family: sans-serif;
  background-color: nth($master-background, 3);
  color: nth($master-dark, 3);

}

ol {
  margin:0 1.5em;
  list-style-type:decimal;
}

table {

  & td {
    padding: auto $adjacent-padding;
    border-right: $border-width single nth($master-highlight, 1);
  }

  & tr:nth-child(even) {
    background-color:  nth($master-background, 2);
  }
}

textarea {
  width: 400px;
  height: 200px;
}

ul {
  @extend ol;
  list-style-type:disc;

  & ol{
    margin:0 1.5em 1.5em 1.5em;
  }
}

/*
 *
 *  Specific styles
 *
 */
$footer-height: 40px;


/* Header
-----------------------------------------------------------------------------*/
header {
    height: 75px;
    background: nth($master-highlight-2, 1);
    border-bottom:2px solid nth($master-highlight, 1);
    h1 {
      font-size:2em;
      padding:15px 0 0 15px;
    }
}

/* Middle
-----------------------------------------------------------------------------*/
#page-wrapper {
  width: 100%;
  min-width: 768px;
  min-height: 100%;
  height: auto !important;
  height: 100%;
}

#content-wrapper{
  margin-top:    5px;
  margin-right:  15px;
  margin-left:   15px;
  margin-bottom: $footer-height;

}


#content {
  margin:5px 15px;
}


/* Footer
-----------------------------------------------------------------------------*/
footer {
    margin: $standard-padding-vertical auto 0;
    min-width: 768px;
    height: $footer-height;
    background: nth($master-highlight-2, 2);

    border-top:2px solid nth($master-highlight,1);
    ul{
      list-style-type:none;
      li {
        float:left;
        margin: 0 15px 0 0;
      }
    }
}




/* General Classes
-----------------------------------------------------------------------------*/
.short-guid {
  width: 70px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}

.select2-container {
  min-width: 150px;
}