@import "base.css.scss";

#project-list {
 list-style-type: none;


  & li{
    float:left;
    margin: 5px;
    @extend .rounded-corners;
    border-color: nth($primary-color, 2);
    background-color: nth($master-background, 2);
    display:block;
    width:400px;
    height:180px;

    & div.project-text{
      vertical-align: top;
      display: inline-block;
      padding: $standard-padding;
      width: 180px;
      float:left;
    }

    & div.project-image {
      width:150px;
      height:150px;
      float:left;
    }

    & img{
      padding: $standard-padding;
      display: inline-block;
    }
  }

}

.tile-image  {
  max-height: 150px;
  max-width: 150px;
  margin-left: auto;
  margin-right: auto;
  display:block;
}

.thumb-image  {
  max-height: 100px;
  max-width: 100px;
}

.large-image {
  max-height: 300px;
  max-height: 300px;
}

.right-column {
  float: right;
  width: 50%;
}