// https://kuler.adobe.com/#themeID/1080677
// http://colorschemedesigner.com/
$master-background: #E9E7C2;
$master-highlight: #787C39;
$master-highlight-2: #908221;
$master-dark: #2C2C2A;
$master-dark-2: #584B28;