@import "base.css.scss";

#project-list {


  & li{


    & div{
      vertical-align: top;
      display: inline-block;
      padding: $standard-padding;

    }

    & img{
      padding: $standard-padding;

      display: inline-block;
    }
  }

}

.thumb-image  {
  max-height: 200px;
  max-width: 200px;
}