<!DOCTYPE html>
<html ng-app="baw" ng-controller="AppCtrl" ng-strict-di>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= build_configs.values.brand.title %></title>

    <%
    // https://github.com/angular/angular.js/issues/8934#issuecomment-56568466
    // Now removing base tag and deprecating support for IE9
    // <base href="/">
    %>

    <!-- compiled CSS -->
    <link rel="stylesheet" type="text/css" href="<%= build_configs.current.siteDir %><%= mainStyle %>"/>

    <!-- Google Maps -->
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=<%= build_configs.values.keys.googleMaps %>"></script>

    <!-- compiled JavaScript -->
    <% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= build_configs.current.siteDir %><%= file %>"></script>
    <% }); %>
</head>
<body baw-auth class="waiting-for-angular">

<background></background>

<div growl>
</div>

<!-- each view must specify the controller they use -->
<div
    id="content-wrapper"
    class="col-sm-12"
    ng-view autoscroll>
</div>

<!-- Google analytics -->
<script type="application/javascript">
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', '<%= build_configs.current.ga.trackingId %>', 'auto');
</script>
<% if (build_configs.current.key === "development") { %>
<!-- <script src="http://<%= hostIp[0] %>:35729/livereload.js"></script> -->
<% } %>
</body>
</html>
