<!DOCTYPE html>
<html ng-app="baw" ng-controller="AppCtrl" ng-strict-di>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= build_configs.values.brand.title %></title>

    <base href="/">

    <!-- compiled CSS -->
    <link rel="stylesheet" type="text/css" href="<%= build_configs.current.siteDir %><%= mainStyle %>"/>

    <!-- Google Maps -->
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=<%= build_configs.values.keys.googleMaps %>&sensor=false"></script>

    <!-- compiled JavaScript -->
    <% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= build_configs.current.siteDir %><%= file %>"></script>
    <% }); %>
</head>
<body baw-auth class="waiting-for-angular">

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-init="isCollapsed = true"
                    ng-click="isCollapsed = !isCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand"
               ng-href="{{::paths.api.links.homeAbsolute}}" target="_self">
                {{::brand.name}}
                <!-- TODO: logo goes here -->
                <!--<img alt="Brand" src="">-->
            </a>
        </div>

        <div class="collapse navbar-collapse" collapse="isCollapsed">
            <ul class="nav navbar-nav">
                <li ng-class="{ active: activePath('/projects') }">
                    <a ng-href="{{paths.api.links.projectsAbsolute}}"
                       target="_self">Projects</a>
                </li>
                <li ng-class="{ active: activePath('/listen') }">
                    <a ng-href="{{paths.site.ngRoutes.recentRecordings}}">Listen</a>
                </li>
                <li ng-class="{ active: activePath('/library') }">
                    <a ng-href="{{paths.site.ngRoutes.library}}">Library</a>
                </li>
                <li class="dropdown"
                    dropdown>
                    <a href=""
                       dropdown-toggle>
                        {{:: researchPages.header_title }} <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="item in ::researchPages.items">
                            <a ng-href="{{::item.url}}"
                               target="_self">{{::item.innerText}}</a>
                        </li>

                    </ul>
                </li>
                <li>
                    <a ng-href="{{paths.api.links.contactUsAbsolute}}"
                       target="_self">Contact Us</a>
                </li>
            </ul>
            <login-widget></login-widget>
        </div>

    </div>
</nav>

<div growl>
</div>

<div ng-class="{ 'container-liquid': fullWidth, 'container': !fullWidth }">

    <div class="row">
        <div class="leftMenu col-md-2" ></div>
        <!-- each view must specify the controller they use -->
        <div id="content-wrapper" ng-class="{ 'container-liquid': fullWidth, 'col-md-8': !fullWidth }" ng-view></div>
        <div class="leftMenu col-md-2" ></div>
    </div>
</div>

<footer class="clearfix">
    <div class="container">
        <div class="row-fluid">
            <ul class="nav nav-pills col-md-8 col-md-offset-2">
                <li>
                    <p class="nav-text">&copy; QUT <%= year %>
                    </p>
                </li>
                <li>
                    <p class="nav-text">
                        <%= build_configs.current.key %>
                        v<%= version %>
                    </p>
                </li>
                <li><a ng-href="{{paths.api.links.websiteStatusAbsolute}}" target="_self">Statistics</a></li>
                <li><a ng-href="{{paths.api.links.disclaimersAbsolute}}" target="_self">Disclaimers</a></li>
                <li><a ng-href="{{paths.api.links.creditsAbsolute}}" target="_self">Credits</a></li>
                <li><a ng-href="{{paths.api.links.ethicsStatementAbsolute}}" target="_self">Ethics</a></li>
                <li><a ng-href="{{paths.api.links.contactUsAbsolute}}" target="_self">Contact Us</a></li>
            </ul>
        </div>
    </div>
</footer>
<!-- Google analytics -->
<script type="application/javascript">
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', '<%= build_configs.current.ga.trackingId %>', 'auto');
</script>
<% if (build_configs.current.key === "development") { %>
    <script src="http://<%= hostIp[0] %>:35729/livereload.js"></script>
<% } %>
</body>
</html>
