<!DOCTYPE html>
<html ng-app="baw" ng-controller="AppCtrl">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bioacoustics Workbench</title>
    <meta name="description" content=""/>

    <!-- todo add back in assets -->
    <!-- compiled CSS -->
    <% styles.forEach( function ( file ) { %>
    <!--<link rel="stylesheet" type="text/css" href="<%= file %>" />-->
    <% }); %>
    <link rel="stylesheet" type="text/css" href="<%= build_configs.current.siteDir %><%= mainStyle %>"/>

    <!-- Google Maps -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<%= build_configs.keys.googleMaps %>&sensor=false"></script>

    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= build_configs.current.siteDir %><%= file %>"></script>
    <% }); %>


    <!--<script src="https://login.persona.org/include.js"></script>-->

    <!-- fot sticky footer -->
    <!--[if !IE 7]>
    <style type="text/css">
        #wrap {
            display: table;
            height: 100%
        }
    </style>
    <![endif]-->
</head>
<body baw-auth class="waiting-for-angular">

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Bioacoustic Workbench</a>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li ng-class="{ active: $location.path().indexOf('/projects') != -1}"><a href="/projects">Projects</a></li>
                <li ng-class="{ active: $location.path().indexOf('/listen') != -1}"><a href="/listen/">Listen</a></li>
                <li ng-class="{ active: $location.path().indexOf('/bird') != -1}"><a href="/birdWalks">Bird Walks</a></li>

                <li style="display: none" ng-controller="LoginCtrl">
                  <span ng-show="loggedIn">
                    Welcome
                      <a href="/users/{{userData.userId}}" title="{{friendlyName}}">{{friendlyName}}</a>
                      &nbsp;&nbsp;
                      <a href ng-click="logout()">Sign Out</a>
                  </span>
                  <span ng-hide="loggedIn">
                    Welcome! <a href ng-click="login()">Sign In</a>
                  </span>
                </li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <!-- Hide text at small screen size to prevent double row navbar -->
                <p class="navbar-text hidden-sm">
                    Bio-Acoustic Workbench, an open source eScience initiative (v<%= version %>).
                </p>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Debugging <b class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><button class="btn btn-default btn-block" ng-click="showDebugUi()">Show hidden features</button></li>
                        <li><button class="btn btn-default btn-block" ng-click="hideDebugUi()">Hide hidden features</button></li>
                        <li class="divider"></li>
                        <li><a href="/listen/40">Easy Link</a></li>
                    </ul>
                </li>
            </ul>
        </div>

    </nav>

    <div id="login-holder">
        <div id="loginbox">
            <div id="login-inner" ng-controller="LoginCtrl">
                <a href="/" id="loginboxclose" title="Cancel login and return to home page" ng-click="cancelLogin()"><i
                        class="icon-remove"></i></a>
                <p>
                    Go back to <a ng-href="{{paths.api.routes.security.signInAbsolute}}" target="_blank" >the parent website</a> and sign in again please.
                </p>
                <!--<form method="POST" autocomplete>-->
                    <!--<h2>Sign In</h2>-->
                    <!--<ul>-->
                        <!--<li><a ng-click="submit('google')" class="btn-auth btn-google">Sign in with Google</a></li>-->
                        <!--<li><a ng-click="submit('facebook')" class="btn-auth btn-facebook">Sign in with Facebook</a>-->
                        <!--</li>-->

                        <!--<li><a ng-click="submit('twitter')" class="btn-auth btn-twitter">Sign in with Twitter</a></li>-->
                        <!--<li><a ng-click="submit('windowslive')" class="btn-auth btn-windows">Sign in with Live ID</a>-->
                        <!--</li>-->

                        <!--&lt;!&ndash;-->
                        <!--<li><a ng-click="submit('persona')" class="persona-button"><span>Sign in with Persona</span></a> </li>-->
                        <!--<li><a ng-click="submit('github')" class="btn-auth btn-github"  >Sign in with GitHub</a></li>-->

                        <!--<li><a ng-click="submit('yahoo')" href="#" class="btn-auth btn-yahoo">Sign in with Yahoo ID</a> </li>-->
                        <!--<li><a ng-click="submit('open_id')" class="btn-auth btn-openid">Sign in with OpenID</a> </li>-->
                        <!--&ndash;&gt;-->
                    <!--</ul>-->

                    <!--<div ng-show="requireMoreInformation">-->
                        <!--<h3>Additional information is required</h3>-->
                        <!--<label><span ng-bind="requireMoreInformation.text"></span>-->
                            <!--<input-->
                                    <!--name="login_url" id="login_url" placeholder="enter a valid url"-->
                                    <!--type="url" autocomplete="on"-->
                                    <!--ng-show='requireMoreInformation.type == "url"'-->
                                    <!--ng-disabled='requireMoreInformation.type != "url"'-->
                                    <!--required="This field is required"-->
                                    <!--ng-required="{{requireMoreInformation}}"-->
                                    <!--class="login"-->
                                    <!--ng-model="additionalInformation"/>-->
                            <!--<input-->
                                    <!--name="login_text" id="login_text" placeholder="enter required text"-->
                                    <!--type="text" autocomplete="on"-->
                                    <!--ng-disabled='requireMoreInformation.type != "text"'-->
                                    <!--ng-show='requireMoreInformation.type == "text"'-->
                                    <!--required="This field is required"-->
                                    <!--ng-required="{{requireMoreInformation}}"-->
                                    <!--class="login"-->
                                    <!--ng-model="additionalInformation"/>-->
                            <!--<input-->
                                    <!--name="email" id="email" placeholder="enter a valid email"-->
                                    <!--type="email" autocomplete="on"-->
                                    <!--ng-disabled='requireMoreInformation.type != "email"'-->
                                    <!--ng-show='requireMoreInformation.type == "email"'-->
                                    <!--required="This field is required"-->
                                    <!--ng-required="{{requireMoreInformation}}"-->
                                    <!--class="login"-->
                                    <!--ng-model="additionalInformation"/>-->
                        <!--</label>-->
                        <!--<button ng-click="submit(requireMoreInformation.providerId)" type="submit">Sign In</button>-->
                    <!--</div>-->
                <!--</form>-->
            </div>
            <div class="clear"></div>
        </div>
    </div>

    <navigation ng-controller="NavigationCtrl"></navigation>
    <!-- each view must specify the controller they use -->
    <div id="content-wrapper" class="container-liquid" ng-view></div>

</body>
</html>
