<div id="content" data-ng-controller="ListenCtrl" xmlns:baw="">
    <a href="/listen/1bd0d668-1471-4396-adc3-09ccd8fe949a">demo</a>
    <a href="#" ng-click="refresh()">demo</a>

    <h1>Listen</h1>

    <p>Listen and annotate.</p>

    <h3>Spectrogram</h3>
    <!--<pre ng-bind="print('spectrogram')" ></pre>-->

    <img ng-src="{{spectrogram.url}}">

    <h3>Audio Controls</h3>
    <!--<pre ng-bind="print('recording')" ></pre>-->
    <audio id="main-player" controls>
        <source ng-src="{{recordingurl}}">
        Your browser does not support the audio element.
    </audio>

    <h3>Annotations</h3>
    <!--<pre ng-bind="print('audio_events')" ></pre>-->
    <table>
        <thead>
            <tr>
                <th>Tag ID</th>
                <th>Audio Recording</th>
                <th>Created At</th>
                <th>Created By</th>
                <th>Deleted At</th>
                <th>Deleted By</th>
                <th>Updated At</th>
                <th>Updated By</th>
                <th>Tags</th>
                <th>Time Range</th>
                <th>Frequency Range</th>
                <th>{{header}}</th>
                <th>{{header}}</th>
            </tr>
        </thead>
        <tbody>
        <tr ng-repeat="event in audio_events">
            <td>{{attr}}</td>
            <td>{{attr}}</td>
            <td>{{attr}}</td>
            <td>{{attr}}</td>
            <td>{{attr}}</td>
            <td>{{attr}}</td>
            <td>{{attr}}</td>
            <td>{{attr}}</td>
            <td>{{attr}}</td>
            <td>{{attr}}</td>
            <td>{{attr}}</td>
            <td>{{attr}}</td>
            <td>{{attr}}</td>
            <td>{{attr}}</td>
        </tr>
        </tbody>
    </table>

    <baw:debug-info/>

</div>