<div id="content" data-ng-controller="ProjectsCtrl">
    <h1>Project List</h1>

    <p>These are the available projects.</p>

    <a href="#/">Home</a>

    <ul>
        <li data-ng-repeat="project in projects">
            <div>
                <h3><a data-ng-href="#/project/{{id}}" title="urn: {{project.urn}}">{{project.name}}</a></h3>
                <p data-ng-bind="project.description" ></p>
                <small>{{project.updated_at}}</small>
            </div>
        </li>

    </ul>
</div>