<div id="content" data-ng-controller="ProjectCtrl" xmlns:baw="">
    <h2>Project</h2>

    <p>The details for a project.</p>

    <a href="/projects">Projects</a>
    <a href="/">Home</a>

    <h3><a ng-href="{{project.urn}}">{{project.name}}</a></h3>
    <p ng-bind="project.description" ></p>
    <pre>{{project.notes}}</pre>
    <small>{{project.updated_at}}</small>
    <record-information></record-information>
    <!--<baw:record-information></baw:record-information>-->

    <!--<div baw:record-information ></div>-->
    <div record-information ></div>
<ul>
    <li data-ng-repeat="site in project.sites">
        {{site.id}}
        {{site.latitude}}
        {{site.longitude}}
    </li>
</ul>

    <pre ui-toggle="showOrHideDebugInfo" class="ui-hide"  ng-bind="print()"></pre>
</div>