<div id="content" data-ng-controller="ProjectsCtrl">
    <h2>Projects</h2>

    <p>Projects are a collection of sites that have a common goal.</p>

    <p><a href="/projects/new">new Project</a></p>

    <ul class="item-list">
        <li ng-repeat="project in projects">
            <div class="item-text">
                <h3><a ng-href="/projects/{{project.id}}" title="urn: {{project.urn}}">{{project.name}}</a></h3>
                <p ng-bind="project.description" ></p>
                <small><a ng-href="/projects/{{project.id}}/edit">edit</a></small>
                <small>Number of sites: {{project.sites.length}}</small>
            </div>
            <div class="item-image">
                <img class="tile-image" ng-src="{{project.photos[0].uri}}" >
            </div>
        </li>
    </ul>
</div>