<div id="content" data-ng-controller="SiteCtrl">
    <h2>Site</h2>

    <p>The details for a site.</p>

    <a href="/sites">Sites</a>
    <a href="/sites/{{site.id}}/edit">edit</a>

    <h3>{{site.name}}</h3>

    <p>
        Projects: <span ng-repeat="p in site.projects"> <a ng-href="/projects/{{p.id}}">{{p.name}}</a>{{!$last | boolToWords:', '}}</span>
    </p>

    <p>
        <img src="http://maps.googleapis.com/maps/api/staticmap?center={{site.latitude}},{{site.longitude}}&zoom=12&size=250x250&maptype=hybrid&sensor=false">
    </p>
    <p ng-bind="site.latitude" ></p>
    <p ng-bind="site.longitude" ></p>

    <p>Number of recordings: {{site.audioRecordings.length}}</p>

    <pre>{{site.notes}}</pre>

    <baw-record-information ng-model="site" ></baw-record-information>

    <div ng-hide="editing" class="right-column">
        <a target="_blank" ng-repeat="photo in site.photos" ng-href="{{photo.uri}}">
            <img class="large-image" ng-src="{{photo.uri}}" />
        </a>
    </div>
</div>
