<!DOCTYPE html>
<html ng-app="baw">
<head>
  <title>Baw Site</title>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <script type="text/javascript">
  </script>

</head>
<body >

<%= "" #yield
%>

<div id="page-wrapper">
    <header>
      <h1>Bioacoustic Workbench</h1>
      <a href="/">Home</a>
    </header>

    <!-- each view must specify the controller they use -->
        <div id="content-wrapper" ng-view></div>
    </div>
</div>
<footer></footer>


</body>
</html>
